.actionItemOpenContainer {
  border: 1px solid #C8D4DE;
  background-color: #ffffff;
  height:100%;
  label.required:after {
    content: " *";
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .actionItemInfo {
    height: inherit;
    .actionItemInfoRow {
      height: inherit;
      .actionItemElement {
        height: inherit;
        color: #4F585F;
        .dividerContainer {
          padding: 16px;
          .divider {
            border-right: 2px solid #C0C0C0;
            height: 100%;
          }
        }
        hr {
          border-top: solid 1px #c0c0c0;
        }
        xe-tab-panel {
          .xe-tab-container {
            padding: 0;

            #openActionItemContent {

              .actionItemContentNoInfo {

                .contentText {
                  padding-top: 1.5em;
                }
                .control {
                  button {
                    float: right;
                    color: #206E9F;
                    border: none;
                  }
                }
              }
              .actionItemContent {
                padding: 16px;

                .contentContainer {
                  margin-top: 20px;
                  margin-bottom: 20px;
                }
                .control {
                  position: absolute;
                  bottom: 24px;
                  width: 100%;
                  .templateButton {
                    float: right;
                    span {
                      padding-left: 24px;
                      button {
                        min-width: 100px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:768px) {
  .actionItemOpenContainer {
    .row {
      margin-right:0;
      margin-left:0;
    }
    .actionItemElement {
      xe-tab-nav {
        .xe-tab-content {
          padding: 4px 0;
        }
      }
    }
  }
}