<div class="groupListContainer">
    <div class="row controls">
        <div class="control">
            <button type="button" class="btn btn-default" ng-click="vm.add()" aria-label="{{'aip.common.add.group.jaws'|i18n_aip}}">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span>{{"aip.common.add"|i18n_aip}}</span>
            </button>
            <button id="openGroupBtn" type="button" class="btn btn-default" ng-click="vm.open()" aria-label="{{'aip.common.open.group.jaws'|i18n_aip}}" disabled="disabled">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span>{{"aip.common.open"|i18n_aip}}</span>
            </button>
        </div>
    </div>
    <!--
    <div class="groupListTable" ng-style="vm.getHeight()">
        <xe-table-grid
                table-id="gridDataTable"
                header="vm.gridData.header"
                content="vm.gridData.data"
                paginate="false"
                toolbar="false"
                on-row-click="vm.select(data)"
                end-point="vm.ENDPOINT.admin.grouplist">
        </xe-table-grid>
    </div>
    -->
    <div class="groupListTable"  ng-style="vm.getHeight()" ng-controller="DataGridCtrl">
        <xe-table-grid
                table-id="dataTable"
                header="headings"
                fetch="fetchData(query)"
                end-point="urlTest"
                content="rows"
                results-found="records"
                toolbar="false"
                paginate="false"
                continuous-scrolling="false"
                on-row-click="selectRecord(data)"
                no-data-msg="No Results Found"
                empty-table-msg="emptyTableMsg"
                search-config="searchConfig"
                pagination-config="paginationConfig"
                height="416px"
                refresh-grid="refreshGrid"
        >
        </xe-table-grid>
    </div>
</div>