<!--*******************************************************************************
Copyright 2017 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="groupListContainer" id="adminGroupListPage" ng-controller="AdminGroupListPageCtrl">
    <div class="row controls">
        <div class="control">
            <button type="button" class="btn btn-default" ng-click="vm.add()" aria-label="{{'aip.common.add.group.jaws'|i18n_aip}}">
                <i class="icon icon-add-CO" aria-hidden="true"></i>
                <span>{{"aip.common.add"|i18n_aip}}</span>
            </button>
            <!--<button id="openGroupBtn" type="button" class="btn btn-default" ng-click="vm.open()" aria-label="{{'aip.common.open.group.jaws'|i18n_aip}}" disabled="disabled">-->
                <!--<i class="fa fa-sign-out" aria-hidden="true"></i>-->
                <!--<span>{{"aip.common.open"|i18n_aip}}</span>-->
            <!--</button>-->
        </div>
    </div>
    <div class="groupListTable" ng-style="vm.getHeight()">
        <xe-table-grid
                caption="{{'aip.admin.title.groups'|i18n_aip}}"
                table-id="dataTableAdminGroupList"
                header="vm.header"
                fetch="vm.fetchData(query)"
                end-point="vm.adminGroupListEnd"
                content="vm.gridData.row"
                results-found="vm.records"
                toolbar="true"
                paginate="true"
                on-row-click="vm.selectRecord(data)"
                no-data-msg="No Results Found"
                empty-table-msg="emptyTableMsg"
                search-config="vm.searchConfig"
                pagination-config="vm.paginationConfig"
                mobile-layout="vm.mobileConfig"
                refresh-grid="refreshGrid"
                draggable-column-names="vm.draggableColumnNames"
                continuous-scrolling="vm.mobileSize"
                continuous-scroll-parent="adminGroupListPage">

            <xe-cell-markup column-name="groupActions" >
                <div class="row groupActions">
                    <div  class="icon icon-view-CO" ng-click="vm.open(row.id)">
                        <span class="offscreen">{{'aip.common.open.group.jaws'|i18n_aip}}</span>
                    </div>

                    <div class="icon icon-document-CO" ng-click="vm.copy(row.id)">
                        <span class="offscreen"></span>
                    </div>

                    <div  class="icon icon-delete-CO" ng-click="vm.delete(row.id)">
                        <span class="offscreen">{{'aip.common.delete.group.jaws'|i18n_aip}}</span>
                    </div>
                </div>

            </xe-cell-markup>
        </xe-table-grid>
    </div>
</div>