<div class="modal-header">
    <h3 class="modal-title" id="modal-status-add-title">{{"aip.admin.status.add"|i18n_aip}}</h3>
    <button class="modal-close" type="button" ng-click="vm.closeDialog()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
</div>
<div class="modal-body" id="modal-status-add-body">
    <div class="modal-body-content">
        <div class="row">
            <label>
                {{"aip.admin.status.actionItemStatus"|i18n_aip}}
            </label>
        </div>
        <div class="row">
            <input maxlength="30" aria-valuemax="30" class="form-control" type="text" ng-model="vm.statusModel.title">
        </div>
        <div class="row blockProcess">
            <label>
                <input type="checkbox" ng-model="vm.statusModel.block" ng-disabled="!vm.validate()">
                {{"aip.admin.status.block"|i18n_aip}}
            </label>
        </div>
    </div>
    <div class="modal-control">
        <button type="button" class="btn btn-default" ng-click="vm.statusSave()" ng-disabled="!vm.validate()">
            {{"aip.common.save.modal"|i18n_aip}}
        </button>
    </div>
</div>
