.DS_Store
target
target/**/*
web-app/css/csr-main-rtl.css
web-app/node_modules/angular-ui-router/bower_components/angular/angular-csp-rtl.css
web-app/node_modules/angular-ui-router/site/css/prettify-rtl.css
web-app/node_modules/angular-ui-router/site/css/uirouter-docs-rtl.css
web-app/selenium/**/*
web-app/WEB-INF/classes
web-app/WEB-INF/classes/**/*
web-app/WEB-INF/tld/*.tld
web-app/WEB-INF/tld/**/*
*.log
*.iws
*.ipr
*.iml
.idea
.idea/**/*
out/
*.zip
*.sha1
**/cobertura.ser
test/**/release_info.groovy
test/**/release_info.groovy.old
plugin.xml
#*-rtl.css
messages_ar_SA.properties
