<!--*******************************************************************************
Copyright 2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="contentInfo">
    <div class="contentText">
        <div class="row">
            <h2>{{'aip.admin.group.open.contentHeader'|i18n_aip}}</h2>
        </div>
        <div class="row" ng-if="!vm.editMode">
            <div class="infoText col-xs-10 col-sm-10">
                {{vm.assignedActionItems.length === 0 ? 'aip.admin.group.open.noContent':'aip.admin.group.open.content' |i18n_aip}}
            </div>
            <div class="control col-xs-2 col-sm-2">
                <button name="Edit" type="button" class="btn btn-default edit" ng-click="vm.validateEdit()"
                        aria-label="">
                    <span class="icon icon-edit-CO"></span>
                    <span class="button-text hidden-sm-down">{{'aip.common.text.edit'|i18n_aip}}</span>
                </button>
            </div>
        </div>
        <div class="row" ng-if="vm.assignedActionItems.length > 0 && !vm.editMode">
            <table class="adminGroupOpenContent">
                <caption area-label="Group Action Items">
                    {{'aip.common.group.actionItems'|i18n_aip}}
                </caption>
                <thead>
                    <th class="">
                        {{'aip.admin.group.open.header.actionItems'|i18n_aip}}
                    </th>
                    <th class="">
                        {{'aip.admin.group.open.header.status'|i18n_aip}}
                    </th>
                    <th class="">
                        {{'aip.admin.group.open.header.folder'|i18n_aip}}
                    </th>
                    <th class="">
                        {{'aip.admin.group.open.header.titleDescription'|i18n_aip}}
                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.assignedActionItems">
                        <td width="30%">{{item.actionItemName}}</td>
                        <td width="10%">{{item.actionItemStatus}}</td>
                        <td width="20%">{{item.actionItemFolderName}}</td>
                        <td width="40%">
                            <span class="row actionItemTitle">{{item.actionItemTitle}}</span>
                            <span class="row actionItemDescroption">{{item.actionItemDescription}}</span>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="row" ng-if="vm.editMode">
            <div class="row">
                {{'aip.admin.group.open.header.actionItems'|i18n_aip}}
            </div>
            <hr>
            <div class="row existActionItems" ng-repeat="item in vm.assignedActionItems">
                <div class="row">
                    <div class="col-xs-8 col-sm-8">
                        <xe-ui-select id="select2actionItems" ng-model="vm.selected[item.sequenceNumber-1]" theme="select2" ng-disabled="disabled"
                                      on-select="vm.selectActionItem($item, $index)">
                            <xe-ui-select-match placeholder="{{'aip.admin.group.assign.select.default'|i18n_aip}}">
                                <div class="row actionItemName">{{vm.selected[item.sequenceNumber-1].actionItemName}}</div>
                                <div class="row additionalInfo">
                                    <div class="col-sm-3 actionItemStatus">{{vm.selected[item.sequenceNumber-1].actionItemStatus}}</div>
                                    <div class="col-sm-9 actionItemFolder">{{vm.selected[item.sequenceNumber-1].folderName}}</div>
                                </div>
                            </xe-ui-select-match>
                            <xe-ui-select-choices group-by="vm.groupFn" repeat="actionItem in vm.allActionItems | groupAssignFilter:$index:vm.assignedActionItems:vm.selected |
                                    propsFilter: {actionItemName: $select.search, folderName: $select.search}">
                                <div ng-bind-html="actionItem.actionItemName | highlight: $select.search"></div>
                            </xe-ui-select-choices>
                        </xe-ui-select>
                    </div>
                    <div class="col-xs-2 col-sm-push-1">
                        <div type="button" class="btn btn-default vertical" ng-click="vm.goUp(item, $event)" aria-label="{{'aip.admin.group.actionItem.up'|i18n_aip}}"
                             ng-disabled="$index===0" title="{{'aip.admin.group.actionItem.up'|i18n_aip}}"
                             tabindex="{{$index===0?-1:0}}">
                            <i class="icon icon-arrowTop-C" aria-hidden="true"></i>
                        </div>
                        <div type="button" class="btn btn-default vertical" ng-click="vm.goDown(item, $event)" aria-label="{{'aip.admin.group.actionItem.down'|i18n_aip}}"
                            ng-disabled="$index===vm.selected.length-1" title="{{'aip.admin.group.actionItem.down'|i18n_aip}}"
                            tabindex="{{$index===vm.selected.length-1?-1:0}}">
                            <i class="icon icon-arrowBottom-C" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-push-1">
                        <div type="button" class="btn btn-default vertical" ng-click="vm.delete(item)" aria-label="{{'aip.admin.group.actionItem.delete'|i18n_aip}}"
                        title="{{'aip.admin.group.actionItem.delete'|i18n_aip}}">
                            <i class="icon icon-delete-CO" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row add">
                <div type="button" class="btn btn-default noBorder" ng-click="vm.addNew()" ng-disabled="!vm.validateAddInput()" aria-label="{{'aip.admin.group.actionItem.addActionItem'|i18n_aip}}">
                    <i class="icon icon-add-CO" aria-hidden="true"></i>
                    <span class="groupAssignAddButtonText">{{"aip.admin.group.actionItem.addActionItem"|i18n_aip}}</span>
                </div>
            </div>
            <div class="row control">
                <div class="row">
                    <div class="col-xs-1 col-sm-8">
                    </div>
                    <div class="col-xs-11 col-sm-4">
                        <div class="col-xs-6 col-sm-6 groupButton">
                            <button name="Cancel" type="button" class="btn btn-default" ng-click="vm.cancel()">{{"aip.common.cancel"|i18n_aip}}</button>
                        </div>
                        <div class="col-xs-6 col-sm-6 groupButton">
                            <button name="Save" type="button" class="btn btn-primary" ng-disabled="!vm.validateInput()" ng-click="vm.validateSave()">
                                {{"aip.common.save"|i18n_aip}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>s
