.actionListContainer {
  overflow-y: auto;
  font-size: 14px;
  .row.controls {
    margin-right: 0px;
    margin-left: 0px;
    .control {
      text-align: right;
      padding: 0 24px;
      .btn-default {
        background-color: transparent;;
        border: none;
        color: #206E9F;
        font-weight: 500;
        .button-text {
          font-size:0.875em
        }
        .icon {
          display: table;
          margin: 0 auto;
          font-size: 1.25em;
        }
      }
    }
  }

  .actionListTable {
    #actionItemDataTableSearch {
      display: none;
    }
  }
}

@media screen and (max-width:768px) {
  .actionListContainer {
    .row.controls {
      .control {
        padding: 0;
        .btn-default {
          .button-text {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .actionListContainer {
    .actionListTable {
      .visible-lg {
        display: block !important;
      }
    }
  }
}