.actionListContainer {
  overflow-y: auto;
  font-size: 14px;
  .actionListTable {
    #actionItemDataTableSearch {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .actionListContainer {
    .actionListTable {
      .visible-lg {
        display: block !important;
      }
    }
  }
}