<!--*******************************************************************************
Copyright 2018-2020 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="actionListContainer" id="postActionListPage" ng-controller="PostActionListPageCtrl" aria-live="assertive">
    <div class="row">
        <div class="control">
            <button type="button" class="btn btn-default" ng-click="vm.goAddPage()" aria-label="{{'aip.common.add.new'|i18n_aip}}">
                <span class="icon icon-add-CO"></span>
                <span class="button-text hidden-sm-down">{{'aip.common.add.new'|i18n_aip}}</span>
            </button>
        </div>
    </div>
    <div class="actionListTable" ng-style="vm.getHeight()">
        <xe-table-grid
                caption="{{'aip.admin.action.selectable.post.items'|i18n_aip}}"
                table-id="dataTableAdminActionList"
                header="vm.header"
                fetch="vm.fetchTableData(query)"
                end-point="vm.adminActionListEnd"
                content="vm.gridData.row"
                results-found="vm.records"
                toolbar="true"
                paginate="true"
                on-row-click="vm.selectRecord(data)"
                no-data-msg="{{'aip.common.no.results.found'|i18n_aip}}"
                empty-table-msg="emptyTableMsg"
                search-config="vm.searchConfig"
                pagination-config="vm.paginationConfig"
                mobile-layout="vm.mobileConfig"
                refresh-grid="refreshGrid"
                draggable-column-names="vm.draggableColumnNames"
                continuous-scrolling="false"
                height="{{vm.gridHeight}}">
            <xe-cell-markup column-name="jobState" >
                <div class="row jobState">
                    <div    ng-if="!isExtendedField(row, heading.name)">
                        <span  ng-class='{"jobStateQueued jobstateDefault" : row.postingCurrentState == "Queued" || row.postingCurrentState == "Calculating"|| row.postingCurrentState == "New" || row.postingCurrentState == "Processing" || row.postingCurrentState =="RecurrenceInProgress","statusCompleted jobstateDefault" : row.postingCurrentState == "Complete" || row.postingCurrentState == "RecurrenceComplete","statusStopped jobstateDefault" : row.postingCurrentState == "Stopped","statusError  jobstateDefault" : row.postingCurrentState == "Error","statusScheduled  jobstateDefault" : row.postingCurrentState == "Scheduled"||row.postingCurrentState =="RecurrenceScheduled"}' ng-bind="getObjectValue(row, heading.name)" >

                       </span></div>
                    </div>
            </xe-cell-markup>
            <xe-cell-markup column-name="postingName" >
               <span>{{row.postingName}} &nbsp; </span>
            </xe-cell-markup>
            <xe-cell-markup column-name="postingDisplayDateTime" >
                <span>{{row.postingDisplayDateTime}} &nbsp; </span>
            </xe-cell-markup>
            <xe-cell-markup column-name="postingDisplayTime" >
                <span>{{row.postingDisplayTime}} &nbsp; </span>
            </xe-cell-markup>
            <xe-cell-markup column-name="postingActionStatus" >

                <button class="icon icon-edit-CO" ng-click="vm.editActionItem(row.id)"
                     title="{{'aip.common.edit.action.item.jaws'|i18n_aip}}" aria-label="{{'aip.common.edit.action.item.jaws'|i18n_aip}}">
                </button>
            </xe-cell-markup>
            <xe-cell-markup column-name="recurrenceAction">
                <div class="col-lg-2 col-md-2 col-xs-1 col-sm-1">
                    <button class="icon icon-more-A-CO" ng-click="vm.recurringPostDetails(row.id)" ng-if='row.recurringPostIndicator'
                                  title="{{'aip.common.view.action.item.recurring.jaws'|i18n_aip}}" aria-label="{{'aip.common.view.action.item.recurring.jaws'|i18n_aip}}">
                    </button>
                </div>
                <div class="warnicon col-lg-1 col-md-1"  ng-if='row.recurringPostJobError' style="float: right;" title="{{'aip.common.view.action.item.recurring.error.job.jaws'|i18n_aip}}" aria-label="{{'aip.common.view.action.item.recurring.error.job.jaws'|i18n_aip}}">&nbsp</div>

            </xe-cell-markup>

        </xe-table-grid>
	</div>
</div>
