.actionItemAddContainer {
  input.hasMultiCalendarPicker{height:35px;border-radius: 5px;
    padding-left: 15px;}

  .ui-select-choices .select2-result-label{font-size: 1.25em;}
  .ui-select-container {
    font-family: "Open Sans";
    width: 21em;
    background: #fff;
  }
  .ui-select-dropdown{width: 21.35em;}
  .ui-select-dropdown .select2-search input {
    width: 20em !important;}
  .actionItemEdit{font-size: 14px;
    margin-left: 15px;
    color: #524e4e;
    text-decoration: underline;}

  .calendar-img {
    background: url(./images/datepicker_icon.png) no-repeat scroll !important;
  }
  input.hasMultiCalendarPicker + span {
    background-position: 0px 1px;
  }
  input.hasMultiCalendarPicker:hover .calendar-img, .calendar-img:hover {
    background-position: 2px 0px;
  }
  .startdate{padding-left:0px;position:relative;}
  .calendar-img{float: right;
    margin-right: 10px;
    top: -28px;
    position: relative;}
}