<!--*******************************************************************************
Copyright 2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->

<div>

    <div class="col-md-8 col-xs-12"></div>
    <div class="col-md-4 col-xs-hidden"></div>
</div>

<div class="actionItemAddContainer">
    <div class="actionItemInfo">
        <div class="row actionItemInfoRow actionItemName">
            <div class="actionItemElement row input-actionItem">

                    <label for="" class="titleValue required" id="actionItemAdd-Name"
                           aria-label="Action Item Name">{{"aip.admin.action.actionItem.Postingjob"|i18n_aip}}
                    </label>

            </div>
            <div class="actionItemElement col-xs-12 col-md-8">
                <div class="row">
                    <input id="actionItemName" type="text" class="form-control"
                           ng-model="vm.postActionItemInfo.name" ng-change="vm.checkChanges()"
                           placeholder='{{"aip.admin.action.actionItem.Postingjob"|i18n_aip}}'
                           aria-label='{{"aip.admin.action.actionItem.Postingjob"|i18n_aip}}'
                           aria-required="true">
                </div>

            </div>
        </div>
        <div class="row actionItemInfoRow actionItemFolder">
            <div class="actionItemElement row input-actionItem">
                <label for="postActionItemGroup" class="titleValue required" id="postActionItemAdd-Group">{{"aip.list.grid.group"|i18n_aip}}
                </label>
            </div>
            <div class="actionItemElement col-xs-8 col-sm-8">
                <div class="row">
                    <xe-ui-select id="postActionItemGroup" ng-change="vm.changedValue();vm.checkChanges()" ng-model="vm.selected"
                                  theme="select2" ng-disabled="disabled">

                        <xe-ui-select-match class="placeholderDisplay" placeholder={{"aip.admin.action.selected.groupName.name"|i18n_aip}}>
                            <div class="row actionItemName" ng-bind-html="vm.selected.groupName"></div>
                            <div class="select-placeholder">{{"aip.admin.action.selected.groupName.name"|i18n_aip}}</div>
                        </xe-ui-select-match>

                        <xe-ui-select-choices group-by="vm.groupFunc" repeat="item in vm.groupList |
                                    propsFilter: {groupName: $select.search, folderName: $select.search,groupTitle:$select.search}">
                            <div ng-bind-html="item.groupName | highlight: $select.search"></div>

                        </xe-ui-select-choices>

                    </xe-ui-select>

                </div>
            </div>
        </div>
        <div class="row actionItemInfoRow actionItemFolder">
            <div class="actionItemElement row input-actionItem">
                <label class="titleValue required" id="postActionItem">{{"aip.admin.action.actionItems.name"|i18n_aip}}
                </label>
            </div>
            <div class="actionItemElement displayInstruction">
                <div class="row">{{"aip.admin.action.actionItems.instructions"|i18n_aip}}</div>

            </div>

            <div class="actionItemElement actionItemInfoRow row">
                <span class="actionItemEdit" ng-click="vm.editPage()">{{"aip.admin.action.actionItems.add.edit"|i18n_aip}}</span>
                <span id="ActionItemGroup" class="actionItemLength">
                    <span ng-model="vm.itemLength" ng-if="vm.itemLength > 0">{{vm.itemLength}} {{"aip.admin.action.actionItems.itemsSelected"|i18n_aip}}</span>
                    <span ng-model="vm.itemLength" ng-if="vm.itemLength <= 0">{{vm.itemLength}} {{"aip.admin.action.actionItems.itemsSelected"|i18n_aip}}</span>
                </span>
            </div>

        </div>
        <div class="row actionItemInfoRow actionItemStatus">
            <div class="actionItemElement row input-actionItem">
                <label for="postActionItemPopulation" class="titleValue required"
                       id="postActionItemPopulation-Population">{{"aip.admin.action.actionItem.population.name"|i18n_aip}}
                </label>
            </div>

            <div class="actionItemElement col-xs-12 col-sm-5">
                <div class="row">
                    <xe-ui-select id="postActionItemPopulation" ng-model="vm.selectedPopulation"  ng-change="vm.checkChanges()" theme="select2"
                                  ng-disabled="disabled">

                        <xe-ui-select-match placeholder={{"aip.admin.action.selected.groupName.name"|i18n_aip}}>
                            <div class="row actionItemName" ng-bind-html="vm.selectedPopulation.name"></div>
                            <div class="select-placeholder">{{"aip.admin.action.selected.groupName.name"|i18n_aip}}</div>
                        </xe-ui-select-match>

                        <xe-ui-select-choices group-by="vm.populationFunc" repeat="item in vm.populationList |
                                    propsFilter: {name: $select.search, populationFolderName: $select.search}">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>

                        </xe-ui-select-choices>

                    </xe-ui-select>

                </div>
            </div>
        </div>


        <div class="row actionItemInfoRow actionItemName">
            <div class="actionItemElement row input-actionItem">

                <label for="displayDates" class="titleValue" id="displayDates"
                       aria-label="Action Item Name">{{"aip.admin.action.actionItem.displayDates"|i18n_aip}}
                </label>

            </div>
            <div class="actionItemElement col-xs-12 col-md-3 displayInstruction">
                <div class="row">{{"aip.admin.action.actionItem.displayDates.instructions"|i18n_aip}}</div>

            </div>
        </div>



        <div class="row actionItemInfoRow actionItemStatus">
            <div class="col-sm-12 col-md-6 startdate">
                <div class="col-sm-6 startdate">
                    <div class="actionItemElement row input-actionItem">
                        <label for="postActionItemDate" class="titleValue required" id="postActionItemDate">{{"aip.admin.action.postactionItem.start.date"|i18n_aip}}
                        </label>
                    </div>
                    <div class="actionItemElement Datelement col-sm-6  dateRow form-container" role="textbox">

                        <div class="row input-daterange form-group right-inner-addon">
                            <input type="text" id="date" date-picker ng-model="vm.postActionItemInfo.startDate"
                                   today="{{today}}" ng-change="vm.checkChanges()"
                                   class="form-control  Datelement" name="startDate"
                                   aria-required="true" required autocomplete="off"
                                   placeholder='{{"default.date.format"|i18n_aip}}'/>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 enddate">
                    <div class="actionItemElement row input-actionItem">
                        <label for="postActionItemPopulation" class="titleValue required">{{"aip.admin.action.postactionItem.end.date"|i18n_aip}}
                        </label>
                    </div>
                    <div class="actionItemElement col-sm-6" id="postActionItemPopulation">
                        <div class="row">
                            <input type="text" date-picker id="endDate"
                                   class="form-control  Datelement" name="endDate"
                                   ng-model="vm.postActionItemInfo.endDate" ng-change="vm.checkChanges()"
                                   aria-required="true" required autocomplete="off"
                                   placeholder='{{"default.date.format"|i18n_aip}}'/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row actionItemInfoRow actionItemStatus">
            <div class="">
                <input type="radio" id="chkPost" name="content"  ng-model="vm.postNow" data-ng-value="true"  ng-change="vm.checkChanges()">
                <label class="titleValue  required" for="chkPost"><span class="postChk">{{"aip.admin.action.postactionItem.post.now"|i18n_aip}}</span></label>

               <br/>
                <input type="radio" id="chkDate" name="content"  ng-model="vm.postNow" data-ng-value="false" ng-change="vm.checkChanges()">
                <label class="titleValue  required" for="chkDate">
                    <span class="postChk">{{"aip.admin.action.postactionItem.scheduleDate"|i18n_aip}}</span></label>

                <div ng-hide="vm.postNow" class="col-sm-12">
                    <div class="row actionItemStatus col-sm-8 col-md-9">
                        <div class="actionItemElement row input-actionItem col-md-4">
                            <label for="postActionItemDate" class="titleValue required" id="postActionItemDate1">{{"aip.admin.action.postactionItem.schdeule.start.date"|i18n_aip}}
                            </label>
                        </div>
                        <div class="actionItemElement Datelement col-sm-4 col-md-2  dateRow form-container" role="textbox">

                            <div class="row input-daterange right-inner-addon">
                                <input type="text" id="date1" date-picker ng-model="vm.postActionItemInfo.localeDate" ng-change="vm.checkChanges()"
                                       class="form-control  Datelement" name="deliveryDate"
                                       aria-required="true" required autocomplete="off"
                                       placeholder='{{"default.date.format"|i18n_aip}}'/>

                            </div>
                        </div>
                    </div>

                        <div class="row actionItemStatus">
                            <div class="col-sm-12 col-md-6 startdate">
                                <div class="col-sm-6 startdate">
                                    <div class="actionItemElement row input-actionItem">
                                        <label for="postActionItemDate" class="titleValue col-sm-4" id="">{{"aip.admin.action.postactionItem.time"|i18n_aip}}
                                        </label>
                                    </div>
                                    <div class="actionItemElement Datelement col-sm-12  dateRow form-container" role="textbox">

                                        <div class="row input-daterange form-group right-inner-addon col-sm-6">
                                            <input type="text" class="form-control  " name="" aria-required="true" xe-time-picker-box input_24_hr_string="{{vm.localeTime ? 'N' : 'Y'}}" hour-format-12="{{vm.localeTime ? 'Y' : 'N'}}"
                                                   am-label='{{"aip.admin.communication.timepicker.time.am.label"|i18n_aip}}'  pm-label='{{"aip.admin.communication.timepicker.time.pm.label"|i18n_aip}}' ng-model="vm.sendTime" ng-change="vm.checkChanges()"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 enddate">
                                    <div class="actionItemElement row input-actionItem">
                                        <label for="postActionItemPopulation" class="titleValue ">{{"aip.admin.action.postactionItem.timezone"|i18n_aip}}
                                        </label>
                                    </div>
                                    <div class="actionItemElement col-sm-6" id="" title={{"aip.admin.communication.timezone.noificataion"|i18n_aip}}>
                                        <div class="row">
                                            <div class="timeZone" ng-show="vm.showTimezoneIcon">
                                                <span class="col-xs-11 col-sm-10 defaultTimezone" ng-bind-html="vm.defaultTimeZone"></span>
                                                <button type="button" class="col-xs-1 col-sm-2 timezone-btn" ng-click="vm.showTimeZoneList()"></button>
                                            </div>

                                            <xe-ui-select class="col-xs-12 col-sm-12 timeZoneChange" ng-model="vm.timezone" ng-change="vm.setTimezone(vm.timezone);vm.checkChanges()" theme="select2" ng-show="!vm.showTimezoneIcon">
                                                <xe-ui-select-match placeholder="{{'aip.admin.communication.sendMessage.timezonePlaceHolder' | i18n_aip}}">
                                                    <div ng-bind-html="vm.timezone.displayName"></div>
                                                </xe-ui-select-match>
                                                <xe-ui-select-choices repeat="timezone in vm.timezones | filter: $select.search">
                                                    <div ng-bind-html="timezone.displayName | highlight: $select.search"></div>
                                                </xe-ui-select-choices>
                                            </xe-ui-select>


                                        </div>
                                    </div>
                                </div>
                                </div>
                        </div>
                </div>
            </div>

        </div>
   <!--     <div class="clear-both"><input type="checkbox" id="chkPopulation" ng-model="vm.regeneratePopulation" ng-change="vm.checkChanges()"><label
                class="titleValue required"><span class="postChk">{{"aip.admin.action.postactionItem.regenerate.Population"|i18n_aip}}</span></label>
        </div>-->

    </div>





    <div class="actionItemControl">
        <div class="row">
            <div class="actionItemElement col-xs-12 col-sm-8">
                <div class="col-sm-4 offset-sm-8 col-xs-12 actionItemButton">
                    <span>
                        <button name="Cancel" type="button" class="btn btn-default" ng-click="vm.cancel()">{{"aip.common.cancel"|i18n_aip}}</button>
                    </span>
                    <span>
                        <button name="Save" type="button" class="btn btn-primary" ng-if="vm.editMode==false" ng-disabled=" !vm.validateInput() "
                                ng-click="vm.save()">
                        {{"aip.common.saveandreturn"|i18n_aip}}</button>
                    </span>
                    <span>
                        <button name="Save" type="button" class="btn btn-primary"  ng-if="vm.editMode==true" ng-disabled=" !vm.dirtyFlag || !vm.validateInput() "
                                ng-click="vm.save()">
                        {{"aip.common.saveandreturn"|i18n_aip}}</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>
