<!--*******************************************************************************
Copyright 2017 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->

<div class="actionItemAddContainer">
    <div class="actionItemInfo">
        <div class="row actionItemInfoRow actionItemName">
            <div class="actionItemElement row input-actionItem">
                <div class="actionItemTitle col-xs-12 col-md-8">
                    <label for="" class="titleValue required" id="actionItemAdd-Name"
                           aria-label="Action Item Name">{{"aip.admin.action.actionItem.Postingjob"|i18n_aip}}
                    </label>
                    <span class="titleValue supplement">{{"aip.admin.action.add.actionName.maxLength"|i18n_aip:60}}</span>
                </div>
            </div>
            <div class="actionItemElement col-xs-12 col-md-8">
                <div class="row" ng-class="{'has-error':vm.actionItemInfo.name.length>60}">
                    <input id="actionItemName" maxlength="60" aria-valuemax="60" type="text" class="form-control"
                           ng-model="vm.actionItemInfo.name"
                           placeholder="" aria-label=""
                           aria-required="true">
                </div>
                <div class="alert alert-danger" role="alert" ng-if="vm.actionItemInfo.title.name>60">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <span class="sr-only">Error:</span>
                    {{"aip.admin.action.add.actionName.error.exceedMax"|i18n_aip:60}}"}}
                </div>
            </div>
        </div>
        <div class="row actionItemInfoRow actionItemFolder">
            <div class="actionItemElement row input-actionItem">
                <label for="postActionItemGroup" class="titleValue required" id="postActionItemAdd-Group">{{"aip.list.grid.group"|i18n_aip}}
                </label>
            </div>
            <div class="actionItemElement col-xs-12 col-sm-5">
                <div class="row">
                    <select id="postActionItemGroup" class="actionItemSelect" xe-data="" aria-label="Group" required
                            aria-required="true"
                            ng-model="vm.postActionItemInfo.group"
                            ng-options="item as item.groupName for item in vm.groupList.AIPgeneral.concat(vm.groupList.AIPstudent) track by item.groupId">
                        <option selected="selected" value="">{{"aip.common.select.group.default"|i18n_aip}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row actionItemInfoRow actionItemFolder">
            <div class="actionItemElement row input-actionItem">
                <label for="postActionItems" class="titleValue required" id="postActionItem">{{"aip.admin.action.actionItems.name"|i18n_aip}}
                </label>
            </div>
            <div class="actionItemElement col-xs-12 col-sm-5">
                <div class="row">
                    <select id="postActionItems" class="actionItemSelect" xe-data="" aria-label="Action Items" required
                            aria-required="true"
                            ng-model="vm.actionItemInfo.group"
                            ng-options="">
                        <option selected="selected" value="">{{"aip.common.select.group.default"|i18n_aip}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row actionItemInfoRow actionItemStatus">
            <div class="actionItemElement row input-actionItem">
                <label for="postActionItemPopulation" class="titleValue required" id="postActionItemPopulation-Population">{{"aip.admin.action.actionItem.population.name"|i18n_aip}}
                </label>
            </div>
            <div class="actionItemElement col-xs-12 col-sm-5">
                <div class="row">
                    <select id="postActionItemPopulation" class="actionItemSelect" xe-data="" aria-label="Status" required
                            aria-required="true"
                            ng-model="vm.postActionItemInfo.population"
                            ng-options="item as item.name for item in vm.populationList track by item.id">
                        <option selected="selected" value="">{{"aip.common.select.population.default"|i18n_aip}}</option>
                    </select>
                </div>
            </div>
        </div>


    </div>
    <div class="actionItemControl">
        <div class="row">
            <div class="actionItemElement col-xs-12 col-sm-8">
                <div class="col-sm-4 offset-sm-8 col-xs-12 actionItemButton">
                    <span>
                        <button name="Cancel" type="button" class="btn btn-default" ng-click="vm.cancel()">{{"aip.common.cancel"|i18n_aip}}</button>
                    </span>
                    <span>
                        <button name="Save" type="button" class="btn btn-primary" ng-disabled="!vm.validateInput()"
                                ng-click="vm.save()">
                        {{"aip.common.saveandreturn"|i18n_aip}}</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>