<!--*******************************************************************************
Copyright 2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="actionListContainer" id="postActionListPage" ng-controller="PostActionListPageCtrl">
    <div class="row">
        <div class="control">
            <button type="button" class="btn btn-default" ng-click="vm.goAddPage()" aria-label="Add new Action Item">
                <span class="icon icon-add-CO"></span>
                <span class="button-text hidden-sm-down">{{'aip.common.add.new'|i18n_aip}}</span>
            </button>
        </div>
    </div>
    <div class="actionListTable" ng-style="vm.getHeight()">
        <xe-table-grid
                caption="{{'aip.admin.action.selectable.post.items'|i18n_aip}}"
                table-id="dataTableAdminActionList"
                header="vm.header"
                fetch="vm.fetchTableData(query)"
                end-point="vm.adminActionListEnd"
                content="vm.gridData.row"
                results-found="vm.records"
                toolbar="true"
                paginate="true"
                on-row-click="vm.selectRecord(data)"
                no-data-msg="{{'aip.common.no.results.found'|i18n_aip}}"
                empty-table-msg="emptyTableMsg"
                search-config="vm.searchConfig"
                pagination-config="vm.paginationConfig"
                mobile-layout="vm.mobileConfig"
                refresh-grid="refreshGrid"
                draggable-column-names="vm.draggableColumnNames"
                continuous-scrolling="vm.mobileSize"
                continuous-scroll-parent="postActionListPage">


            <xe-cell-markup column-name="jobState" >
                <div class="row jobState">
                    <div    ng-if="!isExtendedField(row, heading.name)">
                        <span  ng-class='{"jobStateQueued jobstateDefault" : row.postingCurrentState == "Queued" || row.postingCurrentState == "Calculating"|| row.postingCurrentState == "New" || row.postingCurrentState == "Processing","statusCompleted jobstateDefault" : row.postingCurrentState == "Complete","statusStopped jobstateDefault" : row.postingCurrentState == "Stopped","statusError  jobstateDefault" : row.postingCurrentState == "Error","statusScheduled  jobstateDefault" : row.postingCurrentState == "Scheduled"}' ng-bind="getObjectValue(row, heading.name)" >

                       </span></div>


                    </div>

            </xe-cell-markup>

        </xe-table-grid>
    </div>
</div>
