<div class="blocked-process">
    <div class="col-xs-12 col-sm-3">
        <select class="" xe-data="" aria-label="Blocked process" required aria-required="true"
                ng-options="item as item.i18n for item in all track by item.code"
                ng-model="current"
                ng-change="updateCurrent()">
        </select>
    </div>
    <div class="col-xs-11 col-sm-8">
        <div class="row blockedUrl" ng-repeat="url in getCurrentUrls()">
        <span>URL: </span>
        <span>{{url}}</span>
        </div>
    </div>
    <div class="col-xs-1 col-sm-1">
        <button type="button" class="iconButton icon-delete-CO" aria-label="Remove item" ng-click="remove()"></button>
    </div>
</div>