<div class="csr-list-container">
    <div class="csr-list-title" ng-if="title">
        <div class="title-text cell">
            <span><h2>{{title}}: </h2></span>
        </div>
        <div class="title-badge">
            <span class="badge">{{data.length}}</span>
        </div>
        <div class="description cell">
            <span>{{description}}</span>
        </div>
    </div>
    <div class="csr-list-items">
        <div class="csr-list-item"  ng-repeat="row in data">
            <div class="cell {{key}}" ng-repeat="key in header">
                <span class="ng-class:{{key}}==='status':{{row[key]}}">{{row[key]}}</span>
            </div>
        </div>
    </div>
</div>
<hr>