<div id="openActionItemContent">
    <div class="actionItemContentNoInfo row" ng-if="vm.isNoTemplate()">
        <div class="contentText">
            <div class="row">

                <div class="col-xs-10 col-sm-8">
                    <h2>{{'aip.admin.action.open.tab.template'|i18n_aip}}</h2>
                    {{'aip.admin.action.open.tab.content.noItem1'|i18n_aip}} <br />
                    {{'aip.admin.action.open.tab.content.noItem2'|i18n_aip}}
               </div>

                <div class="control col-xs-2 col-sm-4">
                    <button type="button" class="btn btn-default" ng-click="vm.selectTemplate()" aria-label="">
                        <span class="icon icon-edit-CO"></span>
                        <span class="button-text hidden-sm-down">{{'aip.admin.action.open.tab.content.edit'|i18n_aip}}</span>
                    </button>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <h2>{{'aip.admin.action.open.tab.content'|i18n_aip}}</h2>
                    <div ng-if="!vm.isNoContent()">
                        <span id="actionItemText" ng-bind-html="vm.loadReadOnlyContent() | trusted">{{vm.actionItemHtmlText}}</span>
                    </div>
                    <div ng-if="vm.isNoContent()">
                        <span>{{'aip.admin.action.open.tab.content.noContent'|i18n_aip}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actionItemContent row" ng-if="!vm.isNoTemplate() && vm.templateSelect">
        <div class="contentContainer">
            <div class="row input-actionItem">
                <label for="actionItemTemplate" class="templateSelect required" id="actionItemTemplateSelector">{{"aip.admin.action.open.tab.content.templateSelect"|i18n_aip}}</label>
            </div>
            <div class="row">
                <select id="actionItemTemplate" class="actionItemSelect" xe-data="" aria-label="Template" required aria-required="true" ng-model="vm.selectedTemplate">
                    <option ng-repeat="item in vm.templates" value="{{item.id}}">{{item.title}}</option>
                </select>
            </div>

        </div>

        <div class="contentContainer">
            <div class="row">
                <label for="templateContent" class="titleValue" id="template-content">{{"aip.admin.action.open.tab.content.templateContent"|i18n_aip}}</label>
            </div>

            <div class="row">
                <textarea ck-editor id="templateContent" ng-required="true" aria-required="true" name="templateContent"
                          ng-bind-html="vm.loadReadOnlyContent() | trusted"></textarea>
            </div>
        </div>
        <div class="control row">
            <div class="col-sm-3 offset-sm-9 col-xs-12 templateButton">
                <span>
                    <button type="button" class="btn btn-default" ng-click="vm.cancel('content')">{{"aip.common.cancel"|i18n_aip}}</button>
                </span>
                <span>
                    <button type="button" class="btn btn-primary" ng-click="vm.saveTemplate()" ng-disabled="!vm.saveValidate()">
                        {{"aip.common.saveandreturn"|i18n_aip}}
                    </button>
                </span>
            </div>

        </div>
    </div>


    <div class="actionItemContent row" ng-if="!vm.isNoTemplate() && vm.actionItem.actionItemTemplateId && !vm.templateSelect">
        <div class="contentText">
            <div class="row">

                <div class="col-xs-10 col-sm-8">
                    <h2>{{'aip.admin.action.open.tab.template'|i18n_aip}}</h2>
                </div>
                <div class="col-xs-2 col-sm-4">
                    <button type="button" class="btn btn-default" ng-click="vm.selectTemplate()" aria-label="">
                        <span class="icon icon-edit-CO"></span>
                        <span class="button-text hidden-sm-down">{{'aip.admin.action.open.tab.content.edit'|i18n_aip}}</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    {{vm.actionItem.actionItemTemplateName||"action item template placeholder text"}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <h2>{{'aip.admin.action.open.tab.content'|i18n_aip}}</h2>
                    <div ng-if="!vm.isNoContent()">
                        <span ng-bind-html="vm.loadReadOnlyContent() | trusted">{{vm.actionItemHtmlText}}</span>
                    </div>
                    <div ng-if="vm.isNoContent()">
                        <span>{{'aip.admin.action.open.tab.content.noContent'|i18n_aip}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>