<div class="listActionItem">
    <div class="row">
        <div class="welcome col-xs-12 col-sm-5">
            <div class="username">
                {{"csr.welcome"|i18n_csr}} {{vm.userName}}
            </div>
            <hr/>
            <div class="welcometext">
                {{"csr.welcome.text"|i18n_csr}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="no-item-available" ng-if="vm.actionItems.length === 0">
            <p>There is no pending items for this user. This is placeholder.</p>
        </div>
        <div class="listActionItem-container" ng-if="vm.actionItems.length > 0">
            <div class="itemList">
                <div class="groupList col-sm-5" ng-class="{'hidden-xs':vm.selectedData}" ng-style="vm.getHeight()">
                    <uib-accordion close-others="oneAtATime">
                        <csr-list ng-repeat="actionItemList in vm.actionItems" itemgroup="actionItemList" click="vm.selectItem(groupId, itemId)"
                                  stylefunction="vm.styleFunction(key)" idx="$index", opengroup="vm.initialOpenGroup"
                                  showgroupinfo="vm.showGroupInfo(groupId)" togglegroup="vm.toggleDetail(state)">
                        </csr-list>
                    </uib-accordion>
                </div>
                <div class="groupDetail col-sm-7" ng-style="vm.getHeight()">
                    <div class="detail-body-container" ng-if="vm.selectedData">
                        <div class="detail-body">
                            <csr-item-detail data="vm.selectedData" next="vm.nextItem(groupId, itemId)" tolist="vm.resetSelection()">
                            </csr-item-detail>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>