<div class="listActionItem">
    <div class="row">
        <div class="welcome col-xs-12 col-sm-5">
            <div class="username">
                Welcome {{vm.userName}}
            </div>
            <hr/>
            <div class="welcometext">
                You have the following items that require your attention.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="no-item-available" ng-if="vm.actionItems.length === 0">
            <p>There is no pending items for this user. This is placeholder.</p>
        </div>
        <div class="listActionItem-container" ng-if="vm.actionItems.length > 0">
            <div class="itemList">
                <div class="groupList col-sm-5" ng-class="{'hidden-xs':vm.selectedData}" ng-style="vm.getHeight()">
                    <uib-accordion close-others="oneAtATime">
                        <csr-list ng-repeat="actionItemList in vm.actionItems" itemtitle="actionItemList.info.title"
                                  description="actionItemList.info.description" data="actionItemList.items"
                                  header="actionItemList.header" dscparams="actionItemList.dscParams" click="vm.openConfirm(row)"
                                  stylefunction="vm.styleFunction(key)" idx="$index", opengroup="vm.initialOpenGroup"
                                  showgroupinfo="vm.showGroupInfo(idx)" togglegroup="vm.toggleDetail(state)">
                        </csr-list>
                    </uib-accordion>
                </div>
                <div class="groupDetail col-sm-7" ng-style="vm.getHeight()">
                    <div class="detail-body-container" ng-if="vm.selectedData">
                        <div class="detail-body">
                            <csr-item-detail data="vm.selectedData" next="vm.nextItem()" tolist="vm.resetSelection()">
                            </csr-item-detail>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>