
@media (width:50%) {
  #fileupload_label {
    width: 100%;
  }
}

.btn-right {
  float:right;
  margin-right:5px;
}

.aip-attachments-container{
  .modal-body{
    padding:10px;
  }
  .attachmentsTable{
    margin-top: 1em;

    .noDataMsg{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  .xe-popup-close{
      width:0;
  }
}
