<!--*******************************************************************************
   Copyright 2018 Ellucian Company L.P. and its affiliates.
   *******************************************************************************-->
<div id="attachmentsDiv">
    <xe-popup-modal show="showModal" focusbackelement="tools"
                    pageheader={{"js.aip.user.action.item.attachment.modal.title"|i18n_aip}}>
        <popup-content>
            <div id="modal-header ">
                <label>
                    {{"js.aip.user.action.item.maximum.attachments.label"|i18n_aip}}: <span
                        id="maxAttachments"></span>
                </label>
            </div>
            <div class="modal-body">
                <form name="UploadFile" role="form">
                    <div class="row ">
                        <label  for="fileupload_label" >
                            {{"js.aip.user.document.attachment.filePath.label"|i18n_aip}}:
                        </label>
                        <input class="primary button btn-right" type="button" name="Button" tabindex="2"
                               ng-click="submitUpload(selectedFile)"  value={{"js.aip.common.upload.button.label"|i18n_aip}} aria-label="{{'js.aip.common.upload.button.label'|i18n_aip}}">
                        <input  class="btn btn-default secondary-btn btn-right" type="reset" name="Button" tabindex="3"
                                value={{"js.aip.common.reset.button.label"|i18n_aip}}  aria-label="{{'js.aip.common.reset.button.label'|i18n_aip}}">
                    </div>
                    <div class="row">
                        <input id="fileupload_label" type="file" ngf-select ng-model="selectedFile" required="true" name="file" />
                    </div>
                </form>

                    <div id="attachmentsTable">
                        <xe-table-grid
                                tableId="uplaodDocumentsTable"
                                header="header"
                                end-point="urlTest"
                                fetch="fetchData(query)"
                                post-fetch="postFetch(response, oldResult)"
                                content="rows"
                                results-found="records"
                                continuous-scrolling="false"
                                continuous-scroll-parent="body"
                                on-row-click="onClick(data,index)"
                                on-row-double-click="onDoubleClick(data,index)"
                                no-data-msg="{{'aip.common.no.results.found'|i18n_aip}}"
                                empty-table-msg="emptyTableMsg"
                                draggable-column-names="draggableColumnNames"
                                mobile-layout="mobileConfig"
                                refresh-grid="refreshGrid"
                                continuous-scrolling="false">
                            <xe-cell-markup heading-name="tick">
                                <input type="checkbox" ng-click="someMethod()" value="all"/>
                            </xe-cell-markup>

                            <xe-cell-markup column-name="tick">
                                <input type="checkbox"/>
                            </xe-cell-markup>
                        </xe-table-grid>
                    </div>
            </div>
        </popup-content>
        <popup-buttons>
        </popup-buttons>
    </xe-popup-modal>
</div>