<!--*******************************************************************************
Copyright 2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="listActionItem">
    <div class="row">
        <div class="welcome col-xs-12 col-sm-5">
            <div class="username">
                {{"aip.welcome"|i18n_aip}}
            </div>
            <div class="welcometext">
                {{"aip.welcome.text"|i18n_aip}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="no-item-available" ng-if="vm.actionItems.groups.length === 0">
            <p>{{"aip.placeholder.noitems"|i18n_aip}}</p>
        </div>
        <div class="listActionItem-container" ng-if="vm.actionItems.groups.length > 0">
            <div class="itemList">
                <div class="groupList col-sm-5 col-xs-12" ng-class="{'hidden-xs':vm.selectedData}" ng-style="vm.getHeight()">
                    <uib-accordion close-others="oneAtATime">
                        <aip-list ng-repeat="actionItemList in vm.actionItems.groups" itemgroup="actionItemList" click="vm.selectItem(groupId, itemId)"
                                  stylefunction="vm.styleFunction(key)" idx="$index", opengroup="vm.initialOpenGroup"
                                  showgroupinfo="vm.showGroupInfo(groupId)" togglegroup="vm.toggleDetail(state)">
                        </aip-list>
                    </uib-accordion>
                </div>
                <div class="groupDetail col-sm-7 col-xs-12" ng-style="vm.getHeight()">
                    <div class="detail-body-container" ng-if="vm.selectedData">
                        <div class="detail-body">
                            <aip-item-detail data="vm.selectedData" next="vm.nextItem(groupId, itemId)" tolist="vm.resetSelection()">
                            </aip-item-detail>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
