$badge-color: #FFCDAA;
$badge-border-color: #FD9F5E;
$banner-color: #557287;
$border-color: #A4C6E4;


.csr-item-detail-container {
  height: inherit;
  .detail-content {
    height: inherit;;
    border: 1px solid $border-color;
    padding: 16px;
    overflow-y: scroll;
    hr {
      border-color: $border-color !important;
    }
    .detail {
      padding-bottom: 24px;
      pre {
        border: none;
        background-color: transparent;
        padding: 0;
      }
    }
    .control {
      text-align: center;
      .groupButton {

      }
      .actionItemTwoButton {
        .buttonDiv {
          padding-bottom: 24px;
          button {
            width: 100%;
            white-space:normal;
          }
        }
      }
    }
    .detail-nav {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      .btn-group {
        width: 100%;
      }
    }
  }
  //@media screen and (max-width:768px) {
  //  .detail-nav {
  //    display: block;
  //  }
  //}
  //@media screen and (max-width:480px) {
  //  .detail-nav {
  //    display: block;
  //  }
  //}
}