/*******************************************************************************
Copyright 2018 Ellucian Company L.P. and its affiliates.
********************************************************************************/
@import '../aipApp/common/directives/list/css/list';
@import '../aipApp/common/directives/admin/landing-item/css/landingItem';
@import '../aipApp/common/directives/item-detail/css/itemDetail';
@import '../aipApp/admin/group/add/adminGroupAddPage';
@import '../aipApp/admin/group/list/adminGroupListPage';
@import '../aipApp/admin/group/order/adminGroupOrderPage';
@import '../aipApp/admin/group/open/adminGroupOpenPage';
@import '../aipApp/admin/action/list/adminActionListPage';
@import '../aipApp/admin/action/add/adminActionItemAddPage';
@import '../aipApp/admin/action/open/adminActionItemOpenPage';
@import '../aipApp/admin/action/open/block/adminActionItemBlock';
@import '../aipApp/admin/status/list/adminStatusListPage';
@import '../aipApp/admin/status/list/add/statusAddModal';
@import '../aipApp/listItem/itemInform/itemInformModal';
@import '../aipApp/admin/action/post/adminPostItemAddPage';
@import '../aipApp/admin/action/post/addpost/postAddModal';

#gridCaption {
  color: gray;
  font-size: 18px;
}

#breadcrumb-panel {
  //display: none;
}

#title-panel {
  //display: none;
}

#username {
  padding-right: 0.5em;
}

#content {
  overflow: hidden;
  //top: 90px !important;
  #title-panel {
    h1 {
      line-height: normal;
    }
  }
}

@media screen and (min-width: 1024px) {
  .visible-lg {
    display: block !important;
  }
}

@media screen and (max-width: 768px) {
  #content {
    top: 105px !important;
    .viewContainer {
      padding: 0 8px;
      overflow: auto;
    }
    .jobstateDefault {
      min-width: 10%;
    }

    .hidden-sm-down {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  #content {
    top: 105px !important;
    .viewContainer {
      padding: 0 8px;
      overflow: auto;
    }
    .actionItemAddContainer .enddate {
      padding-left: 0px
    }
  }
}

#breadcrumbHeader {
  .breadcrumbButton {
    //font-size: 0.8em;
  }
  a.breadcrumbButton.leaf-breadcrumb {
    text-decoration: none;
    cursor: default;
  }
}

//focus indicator override for windows
a:focus, div:focus, input:focus, span:focus, i:focus, button:focus, .breadcrumbButton:focus {
  outline: 0;
  box-shadow: 0 0 2px 3px #78aeda, 0 0 2px #78aeda inset;
  border-radius: 2px;
}

label {
  margin-bottom: 10px;
}

.progressbar-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.7);
  z-index: 9999;
  &.ng-hide-add {
    transition: all linear 300ms;
  }
  .progress {
    position: absolute;
    width: 200px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.viewContainer {
  padding: 8px 16px;
  height: 100%;
  overflow-x: auto;
  background-color: #edf2f7;
  //overflow-y: scroll;
  //margin-top: 5px;
  //override common-component angular-grid
  xe-table-grid {
    .table-container {
      .pagination-container {
        box-sizing: border-box;
      }
    }
  }
  hr {
    margin-top: 0;
    margin-bottom: 8px;
    border-top: 1px solid #000000;
  }
  .listActionItem {
    .welcome {
      padding: 0 0 16px 0;
      float: left;
      .username {
        font-size: 2em;
        font-weight: bold;
        color: #557287;
      }
    }
    .welcometext {
      font-size: 1.5em;
    }
    .row {
      margin: 0;
    }
    .listActionItem-container {
      .itemList {
        .groupList {
          overflow-y: auto;
          padding-right: 0;
          padding-left: 0;
          float: left;
          //header~55px, footer:30px, page header:80px = ~170px
          //height: calc(100vh - 170px);
        }
        .groupDetail {
          overfloat-y: auto;
          padding-right: 0;
          padding-left: 0;
          float: right;
          //height: calc(100vh - 60px);
          .detail-body-container {
            height: inherit;
            padding: 0;
            top: 85px;
            .detail-body {
              //border: 1px solid #A4C6E4;
              height: inherit;
              &.Fixed {
                position: fixed;
              }
              #PBContainer {
                .btn {
                  border: 1px solid;
                  border-color: #d8d8d8 #d1d1d1 #babac4 #d1d1d1;
                }
              }
            }
          }
        }
      }
    }
  }
}

// modal
.aip-modal {
  .modal-sm {
    width: 320px;
  }
  .modal-lg {
    width: 320px;
  }
  @media (min-width: 410px) {
    .modal-lg {
      width: 400px;
    }
  }
  .modal-dialog {
    .modal-content {
      padding: 8px;
    }
    .modal-header {
      padding: 8px;
      min-height: 2.5em;
      .modal-title {
        float: left;
        font-size: 1em;
        font-weight: bold;
      }
      .modal-close {
        float: right;
        border: none;
        background-color: transparent;
        padding: 0;
      }
    }
    .modal-body {
      padding: 0;
      .modal-body-info {
        padding: 0px 0px 8px 0px;
        .modal-info-bold {
          font-family: "OpenSans-bold";
        }
        .row {
          margin-right: 8px;
          margin-left: 8px;
        }
        label {
          margin-bottom: 0px;
        }
      }
      .modal-body-content {
        padding: 8px 8px 0px 8px;
        .row {
          margin-right: 0;
          margin-left: 0;
        }
      }
      .modal-control {
        border-top: 1px solid #1F6E9F;
        margin-top: 15px;
        button {
          font-size: 18px;
          color: #1F6E9F;
          width: 100%;
          border: none;
        }
      }
    }
  }
}

.cke_button_label.cke_button__a11ybtn_label {
  display: inline !important;
}

.cke_button_icon.cke_button__a11ybtn_icon {
  display: none;
}

.icon-green {
  color: #008000;
}

.offscreen {
  visibility: hidden;
}

/*bootstrap overrides*/
h2 {
  color: #4F585F;
  font-size: 1.5em;
  font-family: "OpenSans-semibold";
  margin: 5px 0;
}

h3 {
  color: #4F585F;
  font-size: 1.5em;
  font-family: "OpenSans-semibold";
  margin: 5px 0;

}

h3 {
  color: #4F585F;
  font-size: 1.15em;
  font-family: "OpenSans-semibold";
  margin: 5px 0;

}

h4 {
  color: #4F585F;
  font-size: 1.15em;
  font-family: "OpenSans-semibold";
  margin: 5px 0;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active, .btn-primary {
  background-color: #275c8a;
}

/* draggable targets */
[data-draggable="target"] {
  float: left;
  list-style-type: none;
  width: 100%;
  height: 16em;
  overflow-y: auto;
  margin: 0 0.5em 0.5em 0;
  padding: 0.5em;
  border: 2px solid #888;
  border-radius: 0.2em;
  background: #fefefe;
  color: #555;
}

/* drop target state */
[data-draggable="target"][aria-dropeffect="move"] {
  border-color: #68b;
  background: #fff;
}

/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover {
  outline: none;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #68b;
}

/* draggable items */
[data-draggable="item"] {
  display: block;
  list-style-type: none;
  border: 1px solid #bfbfbf;
  margin: 0 0 2px 0;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  cursor: pointer;
  line-height: 2em;
}

/* items focus state */
[data-draggable="item"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #68b, inset 0 0 0 1px #ddd;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"] {
  background: #8ad;
  color: #fff;
}

ol.available > li > button, ol.available > li > span.glyphicon-minus-sign {
  display: none;
}

ol.available > li > span.glyphicon-plus-sign, ol.available > li > span.glyphicon-chevron-right {
  float: right;
  padding-right: 15px;
  padding-top: 5px;
}

ol.selected-group > li > span.glyphicon-plus-sign {
  display: none;
}

ol.selected-group > li {
  padding-right: 10px;
}

ol.selected-group > li > button {
  float: right;
  margin-right: 5px;
}

.jobstateDefault {
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  min-width: 45%;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  color: #000;
}

.jobStateQueued {
  background-color: #DAD5FF;
  border: 1px solid #B0ABD0;

}

.statusStopped {
  background-color: #EF6969;
  border: 1px solid red;
}

.statusCompleted {
  background-color: #c9f0c7;
  border: 1px solid #4ec76a;
}

.statusScheduled {
  background-color: #c7c69f;
  border: 1px solid #c7c69f;
}

.statusError {
  background-color: #FFFF00;
  border: 1px solid #CCCC00;
}
