/*******************************************************************************
Copyright 2017 Ellucian Company L.P. and its affiliates.
********************************************************************************/
/*********************************************************************************
 Copyright 2017 Ellucian Company L.P. and its affiliates.
 **********************************************************************************/
aip-list .aip-list-container  {
    border:none;
    box-shadow:none;
}
  aip-list .aip-list-container .clearfix  {
    content:" ";
    display:table;
}
    aip-list .aip-list-container .clearfix:after  {
    clear:both;
}
  aip-list .aip-list-container .panel-body  {
    padding:0;
}
  aip-list .aip-list-container .progress_bar_status_left  {
    margin-left:12px;
}
  aip-list .aip-list-container hr  {
    margin-top:0;
    margin-bottom:0;
    background-color:#A4C6E4;
    height:1px;
    border:0;
}
  aip-list .aip-list-container .panel-heading  {
    background-color:#ECECEC;
    border:none;
    padding:0;
}
    aip-list .aip-list-container .panel-heading .panel-title a:focus .item-group  {
    outline:0;
    box-shadow:0 0 2px 3px #78aeda, 0 0 2px #78aeda inset;
    border-radius:2px;
}
    aip-list .aip-list-container .panel-heading .panel-title .accordion-toggle  {
    color:#000000;
}
    aip-list .aip-list-container .panel-heading .panel-title .item-group  {
    padding:16px 8px 8px 8px;
    margin:2px;
}
      aip-list .aip-list-container .panel-heading .panel-title .item-group .row.instruction  {
    border-top:solid 1px #A4C6E4;
    padding:8px 0 8px 0;
}
        aip-list .aip-list-container .panel-heading .panel-title .item-group .row.instruction span  {
    text-decoration:underline;
    color:#206E9f;
}
      aip-list .aip-list-container .panel-heading .panel-title .item-group .group-toggle-indicator  {
    float:left;
    padding-left:8px;
}
      aip-list .aip-list-container .panel-heading .panel-title .item-group .group-title  {
    white-space:nowrap;
    padding:0 0 16px 0;
}
        aip-list .aip-list-container .panel-heading .panel-title .item-group .group-title .group-title-text  {
    font-size:1em;
    padding-left:8px;
    white-space:normal;
    float:right;
}
      aip-list .aip-list-container .panel-heading .panel-title .item-group .group-title-icon  {
    padding-left:0;
    padding-right:16px;
}
      aip-list .aip-list-container .panel-heading .panel-title .item-group .badge  {
    margin-right:5px;
    border:1px solid #222222;
    background-color:#555555;
}
        aip-list .aip-list-container .panel-heading .panel-title .item-group .badge.pending  {
    border:1px solid #B0ABD0;
    background-color:#DAD5FF;
}
        aip-list .aip-list-container .panel-heading .panel-title .item-group .badge.reject  {
    border:1px solid #4EC76A;
    background-color:#C9F0C7;
}
        aip-list .aip-list-container .panel-heading .panel-title .item-group .badge.approve  {
    border:1px solid #F57E7E;
    background-color:#FFDCDC;
}
      aip-list .aip-list-container .panel-heading .panel-title .item-group .group-instructions  {
    text-decoration:underline;
    color:#206E9f;
}
      aip-list .aip-list-container .panel-heading .panel-title .item-group .group-progress  {
    padding:0;
}
        aip-list .aip-list-container .panel-heading .panel-title .item-group .group-progress .progress  {
    border-radius:0;
    border:solid 2px #A4C6E4;
    background-color:white;
}
          aip-list .aip-list-container .panel-heading .panel-title .item-group .group-progress .progress .progress-bar  {
    border-radius:0;
    background-color:#FFD079;
    box-shadow:none;
}
            aip-list .aip-list-container .panel-heading .panel-title .item-group .group-progress .progress .progress-bar span  {
    color:#103750;
    text-align:left;
    position:absolute;
    right:0;
    left:1.5em;
    width:auto;
    white-space:nowrap;
}
          aip-list .aip-list-container .panel-heading .panel-title .item-group .group-progress .progress.normal .progress-bar span  {
    color:white;
}
  aip-list .aip-list-container .list-body-container .list-body  {
    border:1px solid #A4C6E4;
    padding:0 0 8px 0;
}
    aip-list .aip-list-container .list-body-container .list-body .list-item  {
    padding:16px 8px 0 8px;
}
      aip-list .aip-list-container .list-body-container .list-body .list-item:hover  {
    cursor:pointer;
    background-color:#eaeef1;
}
      aip-list .aip-list-container .list-body-container .list-body .list-item .aipReadmore  {
    word-break:normal;
}
      aip-list .aip-list-container .list-body-container .list-body .list-item .cell.title  {
    padding-right:10px;
    float:right;
}
        aip-list .aip-list-container .list-body-container .list-body .list-item .cell.title h3, aip-list .aip-list-container .list-body-container .list-body .list-item .cell.title h4  {
    font-weight:bold;
    font-size:1.5em;
    word-wrap:break-word;
    margin:0;
    color:#206E9f;
    display:inline;
    text-decoration:underline;
    font-family:"OpenSans-regular";
    padding-bottom:3px;
    padding-left:10px;
    padding-right:0;
}
      aip-list .aip-list-container .list-body-container .list-body .list-item .cell.state  {
    padding:0;
}
        aip-list .aip-list-container .list-body-container .list-body .list-item .cell.state span:first-letter  {
    text-transform:uppercase;
}
      aip-list .aip-list-container .list-body-container .list-body .list-item .badge  {
    border-radius:4px;
    color:#3a3737;
    margin-left:8px;
    float:left;
}
        aip-list .aip-list-container .list-body-container .list-body .list-item .badge.pending  {
    border:1px solid #B0ABD0;
    background-color:#DAD5FF;
}
        aip-list .aip-list-container .list-body-container .list-body .list-item .badge.reject  {
    border:1px solid #4EC76A;
    background-color:#C9F0C7;
}
        aip-list .aip-list-container .list-body-container .list-body .list-item .badge.approve  {
    border:1px solid #F57E7E;
    background-color:#FFDCDC;
}
      aip-list .aip-list-container .list-body-container .list-body .list-item .cell.completedDate  {
    font-size:1.3em;
    border-bottom:none;
    padding:25px 10px 0px 8px;
}
        aip-list .aip-list-container .list-body-container .list-body .list-item .cell.completedDate span.data-label  {
    font-family:"OpenSans-bold";
    display:inline-block;
}
      aip-list .aip-list-container .list-body-container .list-body .list-item .cell.description  {
    font-size:1.3em;
    border-bottom:1px solid #A4C6E4;
    padding:10px 10px 15px 5px;
}
  
  

.AIP-landing-container  {
    padding:16px;
}

.landingItem-container  {
    background-color:#ffffff;
    font-size:1.5em;
    border-radius:4px;
    padding:10px;
    margin:10px;
    cursor:pointer;
}
  .landingItem-container .landingItem  {
    float:right;
}
  .landingItem-container:hover  {
    background-color:#ffffff;
}
  .landingItem-container .landing-icon  {
    padding:15px 0px;
    max-width:100px;
    margin:0;
    height:auto;
    float:right;
}
    .landingItem-container .landing-icon .well  {
    background-color:transparent;
    border:none;
    box-shadow:none;
}
    .landingItem-container .landing-icon .icon  {
    font-size:3em;
    color:#206E9F;
}
  .landingItem-container .landing-context  {
    padding:8px 24px;
    border-right:2px solid #EDF2F7;
    border-left:none;
    height:100%;
}
    .landingItem-container .landing-context .landing-title  {
    font-weight:bold;
    padding-bottom:16px;
}
    .landingItem-container .landing-context .landing-description  {
    min-height:70px;
}



.aip-item-detail-container  {
    height:inherit;
}
  .aip-item-detail-container .detail-content  {
    height:inherit;
    border:1px solid #A4C6E4;
    padding:0px 16px 16px 16px;
    overflow-y:scroll;
}
    .aip-item-detail-container .detail-content hr  {
    border-color:#A4C6E4 !important;
}
    .aip-item-detail-container .detail-content .detail-title  {
    padding-bottom:16px;
}
      .aip-item-detail-container .detail-content .detail-title h4  {
    font-size:1.5em;
}
    .aip-item-detail-container .detail-content .detail  {
    padding-bottom:24px;
    font-size:1.4em;
}
      .aip-item-detail-container .detail-content .detail pre  {
    border:none;
    background-color:transparent;
    padding:0;
    word-break:normal;
    word-wrap:normal;
}
    .aip-item-detail-container .detail-content .control  {
    text-align:center;
}
      .aip-item-detail-container .detail-content .control .actionItemTwoButton .buttonDiv  {
    padding-bottom:24px;
}
        .aip-item-detail-container .detail-content .control .actionItemTwoButton .buttonDiv button  {
    width:100%;
    white-space:normal;
}
    .aip-item-detail-container .detail-content .detail-nav  {
    display:none;
    position:absolute;
    bottom:0;
    right:0;
    left:0;
}
      .aip-item-detail-container .detail-content .detail-nav .btn-group  {
    width:100%;
}

.pb-detail.pb-radio.pb-item  {
    display:flex;
}

.pb-detail.pb-item.pb-radiolabel  {
    margin:20px 0px 20px 30px;
}

.groupAddContainer  {
    padding:8px 0;
}
  .groupAddContainer .row  {
    margin-right:0;
    margin-left:0;
}
  .groupAddContainer .groupInfo  {
    margin-bottom:20px;
}
    .groupAddContainer .groupInfo .groupInfoRow  {
    margin-bottom:16px;
}
      .groupAddContainer .groupInfo .groupInfoRow .groupElement  {
    padding-left:8px;
    padding-right:8px;
    margin-bottom:8px;
}
        .groupAddContainer .groupInfo .groupInfoRow .groupElement .alert  {
    padding-top:8px;
    padding-bottom:8px;
}
        .groupAddContainer .groupInfo .groupInfoRow .groupElement .open > .dropdown-menu  {
    max-height:200px;
    overflow-y:scroll;
}
        .groupAddContainer .groupInfo .groupInfoRow .groupElement .titleValue  {
    font-size:1.5em;
    font-weight:bold;
}
        .groupAddContainer .groupInfo .groupInfoRow .groupElement .titleValue.supplement  {
    font-size:1.0em;
    position:absolute;
    bottom:0;
    right:auto;
    left:8px;
}
        .groupAddContainer .groupInfo .groupInfoRow .groupElement [lang='ar'] .titleValue.supplement  {
    right:8px;
    left:auto;
}
        .groupAddContainer .groupInfo .groupInfoRow .groupElement [lang='ar-sa'] .titleValue.supplement  {
    right:8px;
    left:auto;
}
      .groupAddContainer .groupInfo .groupInfoRow .groupElement.input-group  {
    width:100%;
}
        .groupAddContainer .groupInfo .groupInfoRow .groupElement.input-group .groupTitle  {
    padding-left:0;
    padding-right:0;
}
      .groupAddContainer .groupInfo .groupInfoRow .dropdown  {
    border:none;
    box-shadow:none;
    width:auto;
    padding:0;
}
        .groupAddContainer .groupInfo .groupInfoRow .dropdown .dropdown-menu  {
    width:auto;
    border:1px solid rgba(0, 0, 0, 0.15);
}
  .groupAddContainer .groupControl  {
    width:100%;
    bottom:10px;
    margin-bottom:15px;
    height:5em;
}
    .groupAddContainer .groupControl .groupButton  {
    text-align:center;
}
      .groupAddContainer .groupControl .groupButton button  {
    width:100%;
    max-width:200px;
}

.groupListContainer  {
    overflow-y:auto;
    font-size:14px;
}
  .groupListContainer .row  {
    margin-left:0;
    margin-right:0;
}
  .groupListContainer .control  {
    float:left;
    padding-top:8px;
}
  .groupListContainer .groupListTable  {
    overflow:auto;
}
    .groupListContainer .groupListTable .table-container  {
    margin-top:8px;
}
      .groupListContainer .groupListTable .table-container .row.groupActions  {
    display:flex;
    margin-left:16px;
    margin-right:16px;
}
        .groupListContainer .groupListTable .table-container .row.groupActions .icon  {
    font-size:1.5em;
}
        .groupListContainer .groupListTable .table-container .row.groupActions div  {
    flex:1;
    margin-left:10px;
}
        .groupListContainer .groupListTable .table-container .row.groupActions div:last-child  {
    margin-left:0;
}

.groupOpenContainer  {
    padding:0;
    margin:0;
    background-color:#ffffff;
}
  .groupOpenContainer .row  {
    margin-right:0;
    margin-left:0;
}
  .groupOpenContainer .groupInfo  {
    margin-bottom:20px;
}
    .groupOpenContainer .groupInfo .groupInfoRow  {
    margin-bottom:16px;
}
      .groupOpenContainer .groupInfo .groupInfoRow .groupElement  {
    padding-left:8px;
    padding-right:8px;
    margin-bottom:8px;
}
        .groupOpenContainer .groupInfo .groupInfoRow .groupElement .groupDetail  {
    border-left:1px solid #444444;
}

/* draggable targets */
[data-draggable="target"]  {
    float:right;
    list-style-type:none;
    width:100%;
    height:13em;
    overflow-y:auto;
    margin:0 0 0.5em 0.5em;
    padding:0.5em;
    border:2px solid #888;
    border-radius:0.2em;
    background:#fefefe;
    color:#555;
}

/* drop target state */
[data-draggable="target"][aria-dropeffect="move"]  {
    border-color:#68b;
    background:#fff;
}

/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover  {
    outline:none;
    box-shadow:0 0 0 1px #fff, 0 0 0 3px #68b;
}

/* draggable items */
[data-draggable="item"]  {
    display:block;
    list-style-type:none;
    border:1px solid #bfbfbf;
    margin:0 0 2px 0;
    padding:0.2em 0.4em;
    border-radius:0.2em;
    cursor:pointer;
    line-height:2em;
}

/* items focus state */
[data-draggable="item"]:focus  {
    outline:none;
    box-shadow:0 0 0 2px #68b, inset 0 0 0 1px #ddd;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"]  {
    background:#8ad;
    color:#fff;
}

ol.available > li > button, ol.available > li > span.glyphicon-minus-sign  {
    display:none;
}

ol.available > li > span.glyphicon-plus-sign, ol.available > li > span.glyphicon-chevron-right  {
    float:left;
    padding-left:15px;
    padding-top:5px;
}

ol.selected-group > li > span.glyphicon-plus-sign  {
    display:none;
}

ol.selected-group > li  {
    padding-left:10px;
}

ol.selected-group > li > button  {
    float:left;
    margin-left:5px;
}

.groupOpenContainer  {
    padding:0;
    margin:0;
}
  .groupOpenContainer .row  {
    margin-right:0;
    margin-left:0;
}
  .groupOpenContainer .groupInfo  {
    margin-bottom:20px;
}
    .groupOpenContainer .groupInfo .groupInfoRow  {
    margin-bottom:16px;
}
      .groupOpenContainer .groupInfo .groupInfoRow .groupElement  {
    padding-left:8px;
    padding-right:8px;
    margin-bottom:8px;
}
        .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container  {
    padding:0;
}
          .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container .contentInfo .row  {
    padding:8px;
}
          .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container .contentInfo .contentText h2  {
    font-size:1em;
}
          .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container .contentInfo .contentText .infoText  {
    line-height:32px;
}
          .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container .contentInfo .contentText .control button  {
    float:left;
}
          .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container .contentInfo .contentText .noBorder  {
    border:none;
}
          .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container .contentInfo .contentText #select2actionItems .select2-results ul.select2-result-sub  {
    padding-right:8px;
}
          .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container .contentInfo .contentText #select2actionItems .row.actionItemName  {
    padding:0;
    line-height:1.7em;
}
          .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container .contentInfo .contentText #select2actionItems .row.additionalInfo  {
    padding:0;
    line-height:1em;
    font-size:0.8em;
}
            .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container .contentInfo .contentText #select2actionItems .row.additionalInfo .actionItemStatus  {
    padding:0;
    border-left:1px solid #b3b3b3;
}
            .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container .contentInfo .contentText #select2actionItems .row.additionalInfo .actionItemFolder  {
    padding:0 16px 0 0;
}
          .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container .contentInfo table  {
    width:100%;
    border:1px solid #b3b3b3;
}
            .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container .contentInfo table caption  {
    text-align:right;
    font-size:1.4em;
    line-height:1.5em;
    border:1px solid #b3b3b3;
    border-bottom:none;
    padding:8px;
}
            .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container .contentInfo table tr  {
    border:1px solid #b3b3b3;
}
              .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container .contentInfo table tr .actionItemDescroption  {
    font-size:0.8em;
    line-height:0.8em;
    padding:0;
}
              .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container .contentInfo table tr .actionItemTitle  {
    line-height:0.7em;
    padding:0;
}
            .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container .contentInfo table td  {
    padding:8px;
}
            .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container .contentInfo table th  {
    padding:8px;
    line-height:1.3em;
}
          .groupOpenContainer .groupInfo .groupInfoRow .groupElement .xe-tab-container .contentInfo hr  {
    border-color:#b3b3b3;
}
        .groupOpenContainer .groupInfo .groupInfoRow .groupElement .groupDetail  {
    border-left:1px solid #444444;
}
        .groupOpenContainer .groupInfo .groupInfoRow .groupElement .btn.vertical  {
    display:table-row;
    border:none;
}
        .groupOpenContainer .groupInfo .groupInfoRow .groupElement .groupAssignAddButtonText  {
    padding:8px;
}

.actionListContainer  {
    overflow-y:auto;
    font-size:14px;
}
  .actionListContainer .actionListTable actionItemDataTableSearch  {
    display:none;
}
  .actionListContainer .row  {
    margin-left:0;
    margin-right:0;
}
  .actionListContainer .control  {
    float:left;
    padding-top:8px;
}
  .actionListContainer .actionListTable  {
    overflow:auto;
}
    .actionListContainer .actionListTable .table-container  {
    margin-top:8px;
}
      .actionListContainer .actionListTable .table-container .row.actionItemActions  {
    display:flex;
    margin-left:16px;
    margin-right:16px;
}
        .actionListContainer .actionListTable .table-container .row.actionItemActions .icon  {
    font-size:1.5em;
}
        .actionListContainer .actionListTable .table-container .row.actionItemActions div  {
    flex:1;
    margin-left:10px;
}
        .actionListContainer .actionListTable .table-container .row.actionItemActions div:last-child  {
    margin-left:0;
}

.actionListTable actionItemDataTableSearch  {
    display:none;
}


.actionItemAddContainer  {
    padding:8px 0;
}
  .actionItemAddContainer .row  {
    margin-right:0;
    margin-left:0;
}
  .actionItemAddContainer .actionItemInfo  {
    margin-bottom:20px;
}
    .actionItemAddContainer .actionItemInfo .actionItemInfoRow  {
    margin-bottom:16px;
}
      .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement  {
    padding-left:8px;
    padding-right:8px;
    margin-bottom:8px;
}
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement .alert  {
    padding-top:8px;
    padding-bottom:8px;
}
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement .open > .dropdown-menu  {
    max-height:200px;
    overflow-y:scroll;
}
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement .titleValue  {
    font-size:1.5em;
    font-weight:bold;
}
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement .titleValue.required:after  {
    content:" *";
}
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement .titleValue.supplement  {
    font-size:1.0em;
    font-style:italic;
    position:absolute;
    bottom:0;
    right:auto;
    left:8px;
}
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement .titleValue.supplement.dimmed  {
    font-style:italic;
    position:relative;
    padding:0 24px;
}
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement [lang='ar'] .titleValue.supplement  {
    right:8px;
    left:auto;
}
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement [lang='ar-sa'] .titleValue.supplement  {
    right:8px;
    left:auto;
}
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement textArea  {
    width:100%;
}
      .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement.input-actionItem  {
    width:100%;
}
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement.input-actionItem .actionItemTitle  {
    padding-left:0;
    padding-right:0;
}
      .actionItemAddContainer .actionItemInfo .actionItemInfoRow .dropdown  {
    border:none;
    box-shadow:none;
    width:auto;
    padding:0;
}
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .dropdown .dropdown-menu  {
    width:auto;
    border:1px solid rgba(0, 0, 0, 0.15);
}
  .actionItemAddContainer .actionItemControl  {
    position:relative;
    width:100%;
    bottom:10px;
    margin-bottom:15px;
    height:5em;
}
    .actionItemAddContainer .actionItemControl .actionItemButton  {
    float:left;
}
      .actionItemAddContainer .actionItemControl .actionItemButton span  {
    padding-right:24px;
}
        .actionItemAddContainer .actionItemControl .actionItemButton span button  {
    min-width:100px;
}
  

.actionItemOpenContainer  {
    border:1px solid #C0C0C0;
    background-color:#ffffff;
    height:100%;
}
  .actionItemOpenContainer label  {
    font-family:"OpenSans-semibold";
}
  .actionItemOpenContainer a  {
    color:#275c8a;
}
  .actionItemOpenContainer .row  {
    margin-left:0;
    margin-right:0;
}
  .actionItemOpenContainer .actionItemInfo  {
    height:inherit;
}
    .actionItemOpenContainer .actionItemInfo .actionItemInfoRow  {
    height:inherit;
}
      .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement  {
    height:100%;
    color:#4F585F;
    padding-bottom:20px;
}
        .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement .h2-container  {
    margin-top:0px;
    margin-bottom:10px;
}
        .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement .activity  {
    margin-top:30px;
    border-right:2px solid #C0C0C0;
    height:100%;
}
        
        .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement .dividerContainer  {
    padding:16px;
}
          .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement .dividerContainer .divider  {
    border-left:2px solid #C0C0C0;
    height:100%;
}
        .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement hr  {
    border-top:solid 1px #C0C0C0;
}
        .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container  {
    padding:0;
}
          .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContentNoInfo .contentText  {
    padding-top:1.5em;
}
          .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .control .h2-container button.edit  {
    float:left;
    color:#206E9F;
    border:none;
}
          .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent  {
    padding:16px;
}
            .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer  {
    margin:10px 0 10px 0;
}
              .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer .noResponses  {
    font-size:1.2em;
    font-weight:bold;
    padding:8px;
}
              .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer .templateText  {
    margin-bottom:20px;
}
              .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer table.ruleListReadOnly  {
    width:100%;
}
                .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer table.ruleListReadOnly caption  {
    border:0 none;
    border-bottom:none;
    text-align:right;
    font-weight:bolder;
    line-height:3em;
    font-size:1.2em;
    padding:0 8px;
}
                .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer table.ruleListReadOnly tr  {
    height:3em;
    border:solid 1px;
    border-color:#C0C0C0;
}
                .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer table.ruleListReadOnly th, .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer table.ruleListReadOnly td  {
    padding:8px;
}
                .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer table.ruleListReadOnly thead th  {
    font-weight:bold;
}
                  .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer table.ruleListReadOnly thead th + .ruleStatus  {
    border-right:solid 1px;
    border-color:inherit;
}
                  .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer table.ruleListReadOnly thead th + .ruleLabelText  {
    width:60%;
}
            .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentPreview  {
    margin:15px 0 20px 0;
    padding:10px 10px 15px 10px;
    border-bottom:1px solid #C0C0C0;
}
            .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .status-rules .row .headings  {
    font-size:1em;
}
              .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .status-rules .row .headings .heading-label  {
    font-family:"OpenSans-semibold";
}
              .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .status-rules .row .headings .heading-instructions  {
    margin:0 15px 20px 0;
}
            .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .status-rules .status-response  {
    padding:10px 0px;
    border-bottom:1px solid #C0C0C0;
}
              
            .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .status-rules button.delete, .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .status-rules button.sort  {
    color:#206E9F;
    border:none;
}
            
            .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .status-rules .add-link  {
    font-family:"OpenSans-semibold";
    margin:20px 15px 20px 0;
}
            .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .actionControl  {
    width:100%;
    bottom:10px;
    margin-bottom:15px;
    height:5em;
}
              .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .actionControl .actionButton  {
    text-align:center;
}
                .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .actionControl .actionButton button  {
    width:100%;
    max-width:200px;
}


#actionItemBlockProcess  {
    padding:16px 0;
}
  #actionItemBlockProcess button.iconButton  {
    border:none;
    background-color:transparent;
    color:#206E9F;
}
    #actionItemBlockProcess button.iconButton .icon  {
    float:right;
    font-size:0.5em;
    line-height:2.5em;
}
    #actionItemBlockProcess button.iconButton .iconText  {
    float:left;
}
  #actionItemBlockProcess .row.blockedItem  {
    padding:16px 0;
}
  #actionItemBlockProcess .row.blockedUrl  {
    padding:8px 0;
}
  #actionItemBlockProcess .actionItemBlockReadOnly .blockedProcessTitle  {
    font-weight:bold;
}
  #actionItemBlockProcess .actionItemBlockReadOnly .control button  {
    color:#206E9F;
    float:left;
    border:none;
}

.statusListContainer  {
    overflow-y:auto;
    font-size:14px;
}
  .statusListContainer .statusListTable #statusDataTableSearch  {
    display:none;
}
  .statusListContainer .row  {
    margin-left:0;
    margin-right:0;
}
  .statusListContainer .control  {
    float:left;
    padding-top:8px;
}
  .statusListContainer .statusListTable  {
    overflow:auto;
}
    .statusListContainer .statusListTable .table-container  {
    margin-top:8px;
}

.statusOpenContainer  {
    padding:0;
    margin:0;
    background-color:#ffffff;
}
  .statusOpenContainer .row  {
    margin-right:0;
    margin-left:0;
}
  .statusOpenContainer .statusInfo  {
    margin-bottom:20px;
}
    .statusOpenContainer .statusInfo .statusInfoRow  {
    margin-bottom:16px;
}
      .statusOpenContainer .statusInfo .statusInfoRow .statusElement  {
    padding-left:8px;
    padding-right:8px;
    margin-bottom:8px;
}
        .statusOpenContainer .statusInfo .statusInfoRow .statusElement .statusDetail  {
    border-left:1px solid #444444;
}

.aip-modal .modal-dialog .modal-header .row.blockProcess  {
    padding:16px;
}
  .aip-modal .modal-dialog .modal-header .row.blockProcess input  {
    margin-left:8px;
}

.aip-modal .modal-dialog .modal-header  {
    border-bottom:none;
}
.aip-modal .modal-dialog .modal-body .modal-body-content .row.blockProcess  {
    padding:16px;
}
  .aip-modal .modal-dialog .modal-body .modal-body-content .row.blockProcess input  {
    margin-left:8px;
}
.aip-modal .modal-dialog .modal-body .modal-control .btn-back  {
    width:50%;
    float:right;
}
.aip-modal .modal-dialog .modal-body .modal-control .btn-divide  {
    content:'';
    display:inline-block;
    width:1px;
    height:23px;
    bottom:5px;
    background:#86bdde;
    position:absolute;
}
.aip-modal .modal-dialog .modal-body .modal-control .btn-forward  {
    width:50%;
}

.actionItemAddContainer input.hasMultiCalendarPicker  {
    height:35px;
    border-radius:5px;
    padding-right:15px;
}
.actionItemAddContainer .ui-select-choices .select2-result-label  {
    font-size:1.25em;
}
.actionItemAddContainer .ui-select-container  {
    font-family:"Open Sans";
    width:21em;
    background:#fff;
}
.actionItemAddContainer .ui-select-dropdown  {
    width:21.35em;
}
.actionItemAddContainer .ui-select-dropdown .select2-search input  {
    width:20em !important;
}
.actionItemAddContainer .actionItemEdit  {
    font-size:14px;
    margin-right:15px;
    color:#524e4e;
    text-decoration:underline;
}
.actionItemAddContainer .actionItemEdit  {
    font-size:14px;
    margin-right:15px;
    color:#565e96;
    text-decoration:underline;
}
.actionItemAddContainer .calendar-img  {
    background:url(./images/datepicker_icon.png) no-repeat scroll !important;
}
.actionItemAddContainer input.hasMultiCalendarPicker + span  {
    background-position:0px 1px;
}
.actionItemAddContainer input.hasMultiCalendarPicker:hover .calendar-img, .actionItemAddContainer .calendar-img:hover  {
    background-position:2px 0px;
}
.actionItemAddContainer .startdate  {
    padding-right:0px;
    position:relative;
}
.actionItemAddContainer .calendar-img  {
    float:left;
    margin-left:10px;
    top:-28px;
    position:relative;
}
.actionItemAddContainer .startdate  {
    padding-right:0px;
    position:relative;
}
.actionItemAddContainer .calendar-img  {
    float:left;
    margin-left:10px;
    top:-28px;
    position:relative;
}
.actionItemAddContainer input.hasMultiCalendarPicker  {
    height:35px;
    border-radius:5px;
    padding-right:15px;
}
.actionItemAddContainer .actionItemControl  {
    position:relative;
    width:100%;
    bottom:10px;
    margin-bottom:15px;
    height:5em;
}
  .actionItemAddContainer .actionItemControl .actionItemButton  {
    float:left;
}
    .actionItemAddContainer .actionItemControl .actionItemButton span  {
    padding-right:24px;
}
      .actionItemAddContainer .actionItemControl .actionItemButton span button  {
    min-width:100px;
    margin-right:3px;
}
.actionItemAddContainer input[type="checkbox"]  {
    -webkit-appearance:initial;
    appearance:initial;
    background:white;
    width:20px;
    height:20px;
    border:1px solid #a4a4ca;
    background:white;
    position:relative;
    border-radius:4px;
    vertical-align:-40%;
    box-shadow:inset 0 2px 5px rgba(0, 0, 0, 0.25);
}
.actionItemAddContainer input[type="checkbox"]:checked  {
    background:#1c8445;
}
.actionItemAddContainer input[type="checkbox"]:checked:after  {
    content:'';
    color:#fff;
    position:absolute;
    border:3px solid #fff;
    border-top:none;
    border-left:none;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg);
    width:12px;
    height:6px;
    top:5px;
    right:4px;
}
.actionItemAddContainer input[type="radio"]  {
    line-height:2.1ex;
}
.actionItemAddContainer input[type="radio"]  {
    position:absolute;
    right:-999em;
}
.actionItemAddContainer input[type="radio"] + label  {
    position:relative;
    overflow:hidden;
    cursor:pointer;
}
.actionItemAddContainer input[type="radio"] + label::before  {
    content:"";
    display:inline-block;
    vertical-align:-25%;
    height:21px;
    width:21px;
    background-color:#1c8445;
    border:1px solid #a4a4ca;
    border-radius:25px;
    box-shadow:inset 0 2px 5px rgba(0, 0, 0, 0.25);
    margin-left:0.5em;
}
.actionItemAddContainer input[type="radio"]:checked + label::after  {
    content:'';
    position:absolute;
    width:8px;
    height:8px;
    background:rgba(0, 0, 0, 0);
    top:6px;
    right:7px;
    border:4px solid #fff;
    border-radius:25px;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);
}
.actionItemAddContainer .postChk  {
    font-size:1.5em;
    font-weight:bold;
    margin-right:12px;
}
.actionItemAddContainer .actionItemLength  {
    padding:0px;
    font-size:13px;
    color:#131212;
}
.actionItemAddContainer .placeholderDisplay > span  {
    display:block;
}
.actionItemAddContainer .displayInstruction  {
    font-size:13px;
    width:25%;
}

.aip-modal .modal-dialog .modal-header .row.blockProcess  {
    padding:16px;
}
  .aip-modal .modal-dialog .modal-header .row.blockProcess input  {
    margin-left:8px;
}
.aip-modal input[type="checkbox"]  {
    -webkit-appearance:initial;
    appearance:initial;
    background:white;
    width:20px;
    height:20px;
    border:1px solid #a4a4ca;
    background:white;
    position:relative;
    border-radius:4px;
    vertical-align:-40%;
    box-shadow:inset 0 2px 5px rgba(0, 0, 0, 0.25);
}
.aip-modal input[type="checkbox"]:checked  {
    background:#1c8445;
}
.aip-modal input[type="checkbox"]:checked:after  {
    content:'';
    color:#fff;
    position:absolute;
    border:3px solid #fff;
    border-top:none;
    border-left:none;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg);
    width:12px;
    height:6px;
    top:5px;
    right:4px;
}
.aip-modal .groupFolder  {
    list-style-type:none;
    font-weight:bold;
    color:#1c8445;
    border-bottom:1px solid #a7a4a4;
    line-height:2.25em;
    padding:10px;
}
.aip-modal .actionFolder  {
    float:left;
}
.aip-modal .actionlistitems  {
    margin-top:0px !important;
    border-top:0px !important;
}
.aip-modal .actionfolder  {
    margin-right:12px;
}
.aip-modal .actionInstruction  {
    font-size:12px;
    font-style:italic;
    margin:0px;
    border-bottom:1px solid #888181;
}
.aip-modal .actiongroupModal  {
    line-height:2.25em;
    border-bottom:2px solid #a7a4a4;
    list-style-type:none;
}
.aip-modal .actionFolderName  {
    float:left;
    color:#1c8445;
    font-weight:bold;
}
.aip-modal .actionInstruction label  {
    margin-bottom:0px;
}
.aip-modal .selectAllActionItem  {
    font-weight:bold;
    font-size:16px;
    color:#1c8445;
    margin-right:10px;
}


#username  {
    padding-left:0.5em;
}

#content  {
    overflow:hidden;
}
  #content #title-panel h1  {
    line-height:normal;
}




#breadcrumbHeader a.breadcrumbButton.leaf-breadcrumb  {
    text-decoration:none;
    cursor:default;
}

a:focus, div:focus, input:focus, span:focus, i:focus, button:focus, .breadcrumbButton:focus  {
    outline:0;
    box-shadow:0 0 2px 3px #78aeda, 0 0 2px #78aeda inset;
    border-radius:2px;
}

label  {
    margin-bottom:10px;
}

.progressbar-container  {
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(211, 211, 211, 0.7);
    z-index:9999;
}
  .progressbar-container.ng-hide-add  {
    transition:all linear 300ms;
}
  .progressbar-container .progress  {
    position:absolute;
    width:200px;
    margin:auto;
    right:0;
    left:0;
    top:0;
    bottom:0;
}

.viewContainer  {
    padding:8px 16px;
    height:100%;
    overflow-x:auto;
    background-color:#edf2f7;
}
  .viewContainer xe-table-grid .table-container .pagination-container  {
    box-sizing:border-box;
}
  .viewContainer hr  {
    margin-top:0;
    margin-bottom:8px;
    border-top:1px solid #000000;
}
  .viewContainer .listActionItem .welcome  {
    padding:0 0 16px 0;
    float:right;
}
    .viewContainer .listActionItem .welcome .username  {
    font-size:2em;
    font-weight:bold;
    color:#557287;
}
  .viewContainer .listActionItem .welcometext  {
    font-size:1.5em;
}
  .viewContainer .listActionItem .row  {
    margin:0;
}
  .viewContainer .listActionItem .listActionItem-container .itemList .groupList  {
    overflow-y:auto;
    padding-left:0;
    padding-right:0;
    float:right;
}
  .viewContainer .listActionItem .listActionItem-container .itemList .groupDetail  {
    overfloat-y:auto;
    padding-left:0;
    padding-right:0;
    float:left;
}
    .viewContainer .listActionItem .listActionItem-container .itemList .groupDetail .detail-body-container  {
    height:inherit;
    padding:0;
    top:85px;
}
      .viewContainer .listActionItem .listActionItem-container .itemList .groupDetail .detail-body-container .detail-body  {
    height:inherit;
}
        .viewContainer .listActionItem .listActionItem-container .itemList .groupDetail .detail-body-container .detail-body.Fixed  {
    position:fixed;
}

.aip-modal .modal-sm  {
    width:320px;
}
.aip-modal .modal-lg  {
    width:320px;
}

.aip-modal .modal-dialog .modal-content  {
    padding:8px;
}
.aip-modal .modal-dialog .modal-header  {
    padding:8px;
    min-height:2.5em;
}
  .aip-modal .modal-dialog .modal-header .modal-title  {
    float:right;
    font-size:1em;
    font-weight:bold;
}
  .aip-modal .modal-dialog .modal-header .modal-close  {
    float:left;
    border:none;
    background-color:transparent;
    padding:0;
}
.aip-modal .modal-dialog .modal-body  {
    padding:0;
}
  .aip-modal .modal-dialog .modal-body .modal-body-info  {
    padding:0px 0px 8px 0px;
}
    .aip-modal .modal-dialog .modal-body .modal-body-info .modal-info-bold  {
    font-family:"OpenSans-bold";
}
    .aip-modal .modal-dialog .modal-body .modal-body-info .row  {
    margin-left:8px;
    margin-right:8px;
}
    .aip-modal .modal-dialog .modal-body .modal-body-info label  {
    margin-bottom:0px;
}
  .aip-modal .modal-dialog .modal-body .modal-body-content  {
    padding:8px 8px 0px 8px;
}
    .aip-modal .modal-dialog .modal-body .modal-body-content .row  {
    margin-left:0;
    margin-right:0;
}
  .aip-modal .modal-dialog .modal-body .modal-control  {
    border-top:1px solid #1F6E9F;
    margin-top:15px;
}
    .aip-modal .modal-dialog .modal-body .modal-control button  {
    font-size:18px;
    color:#1F6E9F;
    width:100%;
    border:none;
}

.cke_button_label.cke_button__a11ybtn_label  {
    display:inline !important;
}

.cke_button_icon.cke_button__a11ybtn_icon  {
    display:none;
}

.icon-green  {
    color:#008000;
}

.offscreen  {
    visibility:hidden;
}

/*bootstrap overrides*/
h2  {
    color:#4F585F;
    font-size:1.5em;
    font-family:"OpenSans-semibold";
    margin:5px 0;
}

h3  {
    color:#4F585F;
    font-size:1.5em;
    font-family:"OpenSans-semibold";
    margin:5px 0;
}

h3  {
    color:#4F585F;
    font-size:1.15em;
    font-family:"OpenSans-semibold";
    margin:5px 0;
}

h4  {
    color:#4F585F;
    font-size:1.15em;
    font-family:"OpenSans-semibold";
    margin:5px 0;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active, .btn-primary  {
    background-color:#275c8a;
}

/* draggable targets */
[data-draggable="target"]  {
    float:right;
    list-style-type:none;
    width:100%;
    height:16em;
    overflow-y:auto;
    margin:0 0 0.5em 0.5em;
    padding:0.5em;
    border:2px solid #888;
    border-radius:0.2em;
    background:#fefefe;
    color:#555;
}

/* drop target state */
[data-draggable="target"][aria-dropeffect="move"]  {
    border-color:#68b;
    background:#fff;
}

/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover  {
    outline:none;
    box-shadow:0 0 0 1px #fff, 0 0 0 3px #68b;
}

/* draggable items */
[data-draggable="item"]  {
    display:block;
    list-style-type:none;
    border:1px solid #bfbfbf;
    margin:0 0 2px 0;
    padding:0.2em 0.4em;
    border-radius:0.2em;
    cursor:pointer;
    line-height:2em;
}

/* items focus state */
[data-draggable="item"]:focus  {
    outline:none;
    box-shadow:0 0 0 2px #68b, inset 0 0 0 1px #ddd;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"]  {
    background:#8ad;
    color:#fff;
}

ol.available > li > button, ol.available > li > span.glyphicon-minus-sign  {
    display:none;
}

ol.available > li > span.glyphicon-plus-sign, ol.available > li > span.glyphicon-chevron-right  {
    float:left;
    padding-left:15px;
    padding-top:5px;
}

ol.selected-group > li > span.glyphicon-plus-sign  {
    display:none;
}

ol.selected-group > li  {
    padding-left:10px;
}

ol.selected-group > li > button  {
    float:left;
    margin-left:5px;
}

.jobstateDefault  {
    border-radius:4px;
    padding:5px;
    text-align:center;
    min-width:45%;
    font-weight:bold;
    font-size:14px;
    display:inline-block;
    color:#000;
}

.jobStateQueued  {
    background-color:#DAD5FF;
    border:1px solid #B0ABD0;
}

.statusStopped  {
    background-color:#EF6969;
    border:1px solid red;
}

.statusCompleted  {
    background-color:#c9f0c7;
    border:1px solid #4ec76a;
}

.statusScheduled  {
    background-color:#c7c69f;
    border:1px solid #c7c69f;
}

.statusstatusError  {
    background-color:#FFFF00;
    border:1px solid #CCCC00;
}
/*** Media Query Section ***/
@media screen and (max-width: 768px) {
    aip-list .aip-list-container .header .list-item .title  {
    padding-right:0;
}
      aip-list .aip-list-container .header .list-item .title .badge  {
    float:left;
}
    aip-list .aip-list-container .list-body .list-item .badge  {
    float:left;
}
}
@media screen and (max-width: 480px) {
    aip-list .aip-list-container .list-body .description  {
    padding-top:8px;
}
}
@media screen and (max-width: 768px) {
  .landingItem-container  {
    padding:0;
    margin-right:8px;
    margin-left:8px;
}
    .landingItem-container .landing-icon  {
    padding:16px;
}
}
@media screen and (max-width: 480px) {
  .landingItem-container  {
    padding:0;
    margin-right:8px;
    margin-left:8px;
}
    .landingItem-container .landing-icon  {
    padding:16px 8px;
}
    .landingItem-container .landing-context .landing-title  {
    padding:8px;
}
    .landingItem-container .landing-context .landing-description  {
    padding:8px;
}
}
@media screen and (max-width: 768px) {
  .actionListContainer .row .control  {
    padding:0;
}
}
@media (min-width: 769px) {
    .actionItemAddContainer .actionItemButton  {
    margin-right:10px;
}
}
@media (max-width: 768px) {
          .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement .activity  {
    margin-top:0px;
    border-right:none;
}
}
@media screen and (max-width: 768px) {
                .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .status-rules .status-response .response-field  {
    margin-bottom:10px;
}
}
@media screen and (min-width: 768px) {
              .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .status-rules .record-controls  {
    margin-top:30px;
}
}
@media screen and (max-width: 768px) {
  .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .row  {
    margin-left:0;
    margin-right:0;
}
  .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement  {
    padding-left:0;
    padding-right:0;
}
    .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement .h2-container button  {
    border:none;
}
    .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-nav .xe-tab-content  {
    padding:4px 0;
    margin-bottom:30px;
}
    .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent  {
    padding:0;
}
      .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer  {
    margin-top:0;
    margin-bottom:0px;
}
        .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer .contentPreview  {
    padding:8px;
    border-bottom:1px solid #C0C0C0;
}
        .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer table.ruleListReadOnly  {
    border:0;
}
          .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer table.ruleListReadOnly caption  {
    border:0;
    padding:0;
    line-height:2em;
}
          .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer table.ruleListReadOnly thead  {
    display:none;
}
          .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer table.ruleListReadOnly tr  {
    margin-bottom:10px;
    display:block;
    border:none;
    height:auto;
}
          .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer table.ruleListReadOnly td  {
    display:table;
    border:0;
    width:100%;
    text-indent:8px;
    border-color:#C0C0C0;
}
            .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer table.ruleListReadOnly td .labels  {
    text-indent:0;
}
          .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer table.ruleListReadOnly td:first-child  {
    border-top:1px solid;
}
          .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer table.ruleListReadOnly td:last-child  {
    border-bottom:0;
    display:none;
}
          .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer table.ruleListReadOnly td:before  {
    display:table-row;
    width:100%;
    content:attr(data-label);
    font-size:1.1em;
    font-weight:bold;
    padding-left:8px;
    text-indent:0;
}
}
@media screen and (max-width: 480px) {
  .aip-modal .actionFolder  {
    display:block;
    float:none;
}
  .aip-modal .selectAllActionItem  {
    font-size:13px;
}
  .aip-modal .actionFolderName  {
    font-size:12px;
}
}
@media screen and (min-width: 1024px) {
  .visible-lg  {
    display:block !important;
}
}
@media screen and (max-width: 768px) {
  #content  {
    top:105px !important;
}
    #content .viewContainer  {
    padding:0 8px;
    overflow:auto;
}
    #content .jobstateDefault  {
    min-width:10%;
}
    #content .hidden-sm-down  {
    display:none;
}
}
@media screen and (max-width: 480px) {
  #content  {
    top:105px !important;
}
    #content .viewContainer  {
    padding:0 8px;
    overflow:auto;
}
    #content .actionItemAddContainer .enddate  {
    padding-right:0px;
}
}
@media (min-width: 410px) {
  .aip-modal .modal-lg  {
    width:400px;
}
}
