aip-list .aip-list-container {
  border: none;
  box-shadow: none; }
  aip-list .aip-list-container .clearfix {
    content: " ";
    display: table; }
    aip-list .aip-list-container .clearfix:after {
      clear: both; }
  aip-list .aip-list-container .panel-body {
    padding: 0; }
  aip-list .aip-list-container hr {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #A4C6E4;
    height: 1px;
    border: 0; }
  aip-list .aip-list-container .panel-heading {
    background-color: #ECECEC;
    border: none;
    padding: 0; }
    aip-list .aip-list-container .panel-heading .panel-title a:focus .item-group {
      outline: 0;
      box-shadow: 0 0 2px 3px #78aeda, 0 0 2px #78aeda inset;
      border-radius: 2px; }
    aip-list .aip-list-container .panel-heading .panel-title .accordion-toggle {
      color: #000000; }
    aip-list .aip-list-container .panel-heading .panel-title .item-group {
      padding: 16px 8px 8px 8px;
      margin: 2px; }
      aip-list .aip-list-container .panel-heading .panel-title .item-group .row.instruction {
        border-top: solid 1px #A4C6E4;
        padding: 8px 0 8px 0; }
        aip-list .aip-list-container .panel-heading .panel-title .item-group .row.instruction span {
          text-decoration: underline;
          color: #206E9f; }
      aip-list .aip-list-container .panel-heading .panel-title .item-group .group-toggle-indicator {
        float: right;
        padding-right: 8px; }
      aip-list .aip-list-container .panel-heading .panel-title .item-group .group-title {
        white-space: nowrap;
        padding: 0 0 16px 0; }
        aip-list .aip-list-container .panel-heading .panel-title .item-group .group-title .group-title-text {
          font-size: 1em;
          padding-right: 8px;
          white-space: normal; }
      aip-list .aip-list-container .panel-heading .panel-title .item-group .group-title-icon {
        padding-right: 0;
        padding-left: 0; }
      aip-list .aip-list-container .panel-heading .panel-title .item-group .badge {
        margin-left: 5px; }
      aip-list .aip-list-container .panel-heading .panel-title .item-group .group-instructions {
        text-decoration: underline;
        color: #206E9f; }
      aip-list .aip-list-container .panel-heading .panel-title .item-group .group-progress {
        padding: 0; }
        aip-list .aip-list-container .panel-heading .panel-title .item-group .group-progress .progress {
          border-radius: 0;
          border: solid 2px #A4C6E4;
          background-color: white; }
          aip-list .aip-list-container .panel-heading .panel-title .item-group .group-progress .progress .progress-bar {
            border-radius: 0;
            background-color: #FFD079;
            box-shadow: none; }
            aip-list .aip-list-container .panel-heading .panel-title .item-group .group-progress .progress .progress-bar span {
              color: #103750;
              text-align: right;
              position: absolute;
              left: 0;
              right: 1.5em;
              width: auto;
              white-space: nowrap; }
          aip-list .aip-list-container .panel-heading .panel-title .item-group .group-progress .progress.normal .progress-bar span {
            color: white; }
  aip-list .aip-list-container .list-body-container .list-body {
    border: 1px solid #A4C6E4;
    padding: 0 0 8px 0; }
    aip-list .aip-list-container .list-body-container .list-body .list-item {
      padding: 16px 8px 0 8px; }
      aip-list .aip-list-container .list-body-container .list-body .list-item:hover {
        cursor: pointer;
        background-color: #eaeef1; }
      aip-list .aip-list-container .list-body-container .list-body .list-item .aipReadmore {
        word-break: normal; }
      aip-list .aip-list-container .list-body-container .list-body .list-item .cell.title {
        padding-left: 10px; }
        aip-list .aip-list-container .list-body-container .list-body .list-item .cell.title h3, aip-list .aip-list-container .list-body-container .list-body .list-item .cell.title h4 {
          font-weight: bold;
          font-size: 1.5em;
          word-wrap: break-word;
          margin: 0;
          /*line-height: 1.8em;*/
          color: #206E9f;
          display: inline;
          /*border-bottom: solid 1px #206E9f;*/
          text-decoration: underline;
          font-family: "OpenSans-regular";
          padding-bottom: 3px;
          padding-right: 10px;
          padding-left: 0; }
      aip-list .aip-list-container .list-body-container .list-body .list-item .cell.state {
        padding: 0; }
        aip-list .aip-list-container .list-body-container .list-body .list-item .cell.state span:first-letter {
          text-transform: uppercase; }
      aip-list .aip-list-container .list-body-container .list-body .list-item .badge {
        border-radius: 4px;
        color: #3a3737;
        margin-right: 8px;
        float: right;
        width: 100%; }
      aip-list .aip-list-container .list-body-container .list-body .list-item .cell.completedDate {
        font-size: 1.3em;
        border-bottom: none;
        padding: 25px 8px 0px 10px; }
        aip-list .aip-list-container .list-body-container .list-body .list-item .cell.completedDate span.data-label {
          font-family: "OpenSans-bold"; }
      aip-list .aip-list-container .list-body-container .list-body .list-item .cell.description {
        font-size: 1.3em;
        border-bottom: 1px solid #A4C6E4;
        padding: 10px 5px 15px 10px; }
  @media screen and (max-width: 768px) {
    aip-list .aip-list-container .header .list-item .title {
      padding-left: 0; }
      aip-list .aip-list-container .header .list-item .title .badge {
        float: right; }
    aip-list .aip-list-container .list-body .list-item .badge {
      float: right; } }
  @media screen and (max-width: 480px) {
    aip-list .aip-list-container .list-body .description {
      padding-top: 8px; } }

.AIP-landing-container {
  padding: 16px; }

.landingItem-container {
  background-color: #ffffff;
  font-size: 1.5em;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  cursor: pointer; }
  .landingItem-container:hover {
    background-color: #ffffff; }
  .landingItem-container .landing-icon {
    padding: 30px 15px;
    max-width: 90px;
    margin: 0;
    height: auto; }
    .landingItem-container .landing-icon .well {
      background-color: transparent;
      border: none;
      box-shadow: none; }
    .landingItem-container .landing-icon .icon {
      font-size: 3em;
      color: #206E9F; }
  .landingItem-container .landing-context {
    padding: 8px 24px;
    border-left: 2px solid #EDF2F7;
    border-right: none;
    height: 100%; }
    .landingItem-container .landing-context .landing-title {
      font-weight: bold;
      padding-bottom: 16px; }
    .landingItem-container .landing-context .landing-description {
      min-height: 70px; }

@media screen and (max-width: 480px) {
  .ladingItem-container {
    margin-left: 8px;
    margin-right: 8px; }
    .ladingItem-container .landing-icon {
      padding: 16px 8px; } }
.aip-item-detail-container {
  height: inherit; }
  .aip-item-detail-container .detail-content {
    height: inherit;
    border: 1px solid #A4C6E4;
    padding: 0px 16px 16px 16px;
    overflow-y: scroll; }
    .aip-item-detail-container .detail-content hr {
      border-color: #A4C6E4 !important; }
    .aip-item-detail-container .detail-content .detail-title {
      padding-bottom: 16px; }
      .aip-item-detail-container .detail-content .detail-title h4 {
        font-size: 1.5em; }
    .aip-item-detail-container .detail-content .detail {
      padding-bottom: 24px;
      font-size: 1.4em; }
      .aip-item-detail-container .detail-content .detail pre {
        border: none;
        background-color: transparent;
        padding: 0;
        word-break: normal;
        word-wrap: normal; }
    .aip-item-detail-container .detail-content .control {
      text-align: center; }
      .aip-item-detail-container .detail-content .control .actionItemTwoButton .buttonDiv {
        padding-bottom: 24px; }
        .aip-item-detail-container .detail-content .control .actionItemTwoButton .buttonDiv button {
          width: 100%;
          white-space: normal; }
    .aip-item-detail-container .detail-content .detail-nav {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
      .aip-item-detail-container .detail-content .detail-nav .btn-group {
        width: 100%; }

.pb-detail.pb-radio.pb-item {
  display: flex; }

.pb-detail.pb-item.pb-radiolabel {
  margin: 20px 30px 20px 0px; }

.groupAddContainer {
  padding: 8px 0; }
  .groupAddContainer .row {
    margin-left: 0;
    margin-right: 0; }
  .groupAddContainer .groupInfo {
    margin-bottom: 20px; }
    .groupAddContainer .groupInfo .groupInfoRow {
      margin-bottom: 16px; }
      .groupAddContainer .groupInfo .groupInfoRow .groupElement {
        padding-right: 8px;
        padding-left: 8px;
        margin-bottom: 8px; }
        .groupAddContainer .groupInfo .groupInfoRow .groupElement .alert {
          padding-top: 8px;
          padding-bottom: 8px; }
        .groupAddContainer .groupInfo .groupInfoRow .groupElement .open > .dropdown-menu {
          max-height: 200px;
          overflow-y: scroll; }
        .groupAddContainer .groupInfo .groupInfoRow .groupElement .titleValue {
          font-size: 1.5em;
          font-weight: bold; }
        .groupAddContainer .groupInfo .groupInfoRow .groupElement .titleValue.supplement {
          font-size: 1.0em;
          position: absolute;
          bottom: 0;
          left: auto;
          right: 8px; }
        .groupAddContainer .groupInfo .groupInfoRow .groupElement [lang='ar'] .titleValue.supplement {
          left: 8px;
          right: auto; }
      .groupAddContainer .groupInfo .groupInfoRow .groupElement.input-group {
        width: 100%; }
        .groupAddContainer .groupInfo .groupInfoRow .groupElement.input-group .groupTitle {
          padding-right: 0;
          padding-left: 0; }
      .groupAddContainer .groupInfo .groupInfoRow .dropdown {
        border: none;
        box-shadow: none;
        width: auto;
        padding: 0; }
        .groupAddContainer .groupInfo .groupInfoRow .dropdown .dropdown-menu {
          width: auto;
          border: 1px solid rgba(0, 0, 0, 0.15); }
  .groupAddContainer .groupControl {
    /*position: relative;*/
    width: 100%;
    bottom: 10px;
    margin-bottom: 15px;
    height: 5em; }
    .groupAddContainer .groupControl .groupButton {
      text-align: center; }
      .groupAddContainer .groupControl .groupButton button {
        width: 100%;
        max-width: 200px; }

.groupListContainer {
  overflow-y: auto;
  font-size: 14px; }
  .groupListContainer .groupListTable #groupDataTableSearch {
    display: none; }
  .groupListContainer .row {
    margin-right: 0;
    margin-left: 0; }
  .groupListContainer .control {
    float: right;
    padding-top: 8px; }
  .groupListContainer .groupListTable {
    overflow: auto; }
    .groupListContainer .groupListTable .table-container {
      margin-top: 8px; }

.groupOpenContainer {
  padding: 0;
  margin: 0;
  background-color: #ffffff; }
  .groupOpenContainer .row {
    margin-left: 0;
    margin-right: 0; }
  .groupOpenContainer .groupInfo {
    margin-bottom: 20px; }
    .groupOpenContainer .groupInfo .groupInfoRow {
      margin-bottom: 16px; }
      .groupOpenContainer .groupInfo .groupInfoRow .groupElement {
        padding-right: 8px;
        padding-left: 8px;
        margin-bottom: 8px; }
        .groupOpenContainer .groupInfo .groupInfoRow .groupElement .groupDetail {
          border-right: 1px solid #444444; }

.actionListContainer {
  overflow-y: auto;
  font-size: 14px; }
  .actionListContainer .row {
    margin-right: 0px;
    margin-left: 0px; }
    .actionListContainer .row .control {
      text-align: right;
      padding: 0 24px; }
      .actionListContainer .row .control .btn-default {
        background-color: transparent;
        border: none;
        color: #206E9F;
        font-weight: 500; }
        .actionListContainer .row .control .btn-default .button-text {
          font-size: 0.875em; }
        .actionListContainer .row .control .btn-default .icon {
          display: table;
          margin: 0 auto;
          font-size: 1.25em; }
  .actionListContainer .actionListTable #actionItemDataTableSearch {
    display: none; }

@media screen and (max-width: 768px) {
  .actionListContainer .row .control {
    padding: 0; } }
.actionItemAddContainer {
  padding: 8px 0; }
  .actionItemAddContainer .row {
    margin-left: 0;
    margin-right: 0; }
  .actionItemAddContainer .actionItemInfo {
    margin-bottom: 20px; }
    .actionItemAddContainer .actionItemInfo .actionItemInfoRow {
      margin-bottom: 16px; }
      .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement {
        padding-right: 8px;
        padding-left: 8px;
        margin-bottom: 8px; }
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement .alert {
          padding-top: 8px;
          padding-bottom: 8px; }
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement .open > .dropdown-menu {
          max-height: 200px;
          overflow-y: scroll; }
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement .titleValue {
          font-size: 1.5em;
          font-weight: bold; }
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement .titleValue.required:after {
          content: " *"; }
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement .titleValue.supplement {
          font-size: 1.0em;
          font-style: italic;
          position: absolute;
          bottom: 0;
          left: auto;
          right: 8px; }
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement .titleValue.supplement.dimmed {
          font-style: italic;
          position: relative;
          padding: 0 24px; }
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement [lang='ar'] .titleValue.supplement {
          left: 8px;
          right: auto; }
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement textArea {
          width: 100%; }
      .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement.input-actionItem {
        width: 100%; }
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .actionItemElement.input-actionItem .actionItemTitle {
          padding-right: 0;
          padding-left: 0; }
      .actionItemAddContainer .actionItemInfo .actionItemInfoRow .dropdown {
        border: none;
        box-shadow: none;
        width: auto;
        padding: 0; }
        .actionItemAddContainer .actionItemInfo .actionItemInfoRow .dropdown .dropdown-menu {
          width: auto;
          border: 1px solid rgba(0, 0, 0, 0.15); }
  .actionItemAddContainer .actionItemControl {
    position: relative;
    width: 100%;
    bottom: 10px;
    margin-bottom: 15px;
    height: 5em; }
    .actionItemAddContainer .actionItemControl .actionItemButton {
      float: right; }
      .actionItemAddContainer .actionItemControl .actionItemButton span {
        padding-left: 24px; }
        .actionItemAddContainer .actionItemControl .actionItemButton span button {
          min-width: 100px; }
  @media (min-width: 769px) {
    .actionItemAddContainer .actionItemButton {
      margin-left: 10px; } }

.actionItemOpenContainer {
  border: 1px solid #C8D4DE;
  background-color: #ffffff;
  height: 100%; }
  .actionItemOpenContainer label.required:after {
    content: " *"; }
  .actionItemOpenContainer .row {
    margin-right: 0;
    margin-left: 0; }
  .actionItemOpenContainer .actionItemInfo {
    height: inherit; }
    .actionItemOpenContainer .actionItemInfo .actionItemInfoRow {
      height: inherit; }
      .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement {
        height: 100%;
        color: #4F585F;
        padding-bottom: 20px; }
        .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement .h2-container {
          margin-top: 20px;
          margin-bottom: 10px; }
        .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement .activity {
          margin-top: 30px;
          border-left: 2px solid #C0C0C0;
          height: 100%; }
        @media (max-width: 768px) {
          .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement .activity {
            margin-top: 0px;
            border-left: none; } }
        .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement .dividerContainer {
          padding: 16px; }
          .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement .dividerContainer .divider {
            border-right: 2px solid #C0C0C0;
            height: 100%; }
        .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement hr {
          border-top: solid 1px #c0c0c0; }
        .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container {
          padding: 0; }
          .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContentNoInfo .contentText {
            padding-top: 1.5em; }
          .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .control .h2-container button.edit {
            float: right;
            color: #206E9F;
            border: none; }
          .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent {
            padding: 16px; }
            .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentContainer {
              margin-top: 20px;
              margin-bottom: 20px; }
            .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .contentPreview {
              margin: 20px 0;
              padding: 20px;
              border: 1px solid #c0c0c0; }
            .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .control .templateButton {
              float: right;
              margin-bottom: 20px; }
              .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .control .templateButton span {
                padding-left: 24px; }
                .actionItemOpenContainer .actionItemInfo .actionItemInfoRow .actionItemElement xe-tab-panel .xe-tab-container #openActionItemContent .actionItemContent .control .templateButton span button {
                  min-width: 100px; }

@media screen and (max-width: 768px) {
  .actionItemOpenContainer .row {
    margin-right: 0;
    margin-left: 0; }
  .actionItemOpenContainer .actionItemElement .h2-container button {
    border: none; }
  .actionItemOpenContainer .actionItemElement xe-tab-nav .xe-tab-content {
    padding: 4px 0; } }
.statusListContainer {
  overflow-y: auto;
  font-size: 14px; }
  .statusListContainer .statusListTable #statusDataTableSearch {
    display: none; }
  .statusListContainer .row {
    margin-right: 0;
    margin-left: 0; }
  .statusListContainer .control {
    float: right;
    padding-top: 8px; }
  .statusListContainer .statusListTable {
    overflow: auto; }
    .statusListContainer .statusListTable .table-container {
      margin-top: 8px; }

.statusOpenContainer {
  padding: 0;
  margin: 0;
  background-color: #ffffff; }
  .statusOpenContainer .row {
    margin-left: 0;
    margin-right: 0; }
  .statusOpenContainer .statusInfo {
    margin-bottom: 20px; }
    .statusOpenContainer .statusInfo .statusInfoRow {
      margin-bottom: 16px; }
      .statusOpenContainer .statusInfo .statusInfoRow .statusElement {
        padding-right: 8px;
        padding-left: 8px;
        margin-bottom: 8px; }
        .statusOpenContainer .statusInfo .statusInfoRow .statusElement .statusDetail {
          border-right: 1px solid #444444; }

.aip-modal .modal-dialog .modal-header .row.blockProcess {
  padding: 16px; }
  .aip-modal .modal-dialog .modal-header .row.blockProcess input {
    margin-right: 8px; }

.aip-modal .modal-dialog .modal-body .modal-body-content .row.blockProcess {
  padding: 16px; }
  .aip-modal .modal-dialog .modal-body .modal-body-content .row.blockProcess input {
    margin-right: 8px; }
.aip-modal .modal-dialog .modal-body .modal-control .btn-back {
  width: 50%;
  float: left; }
.aip-modal .modal-dialog .modal-body .modal-control .btn-forward {
  width: 50%; }

#username {
  padding-right: 0.5em; }

#content {
  overflow: hidden; }
  #content #title-panel h1 {
    line-height: normal; }

@media screen and (min-width: 1024px) {
  .visible-lg {
    display: block !important; } }
@media screen and (max-width: 768px) {
  #content {
    top: 105px !important; }
    #content .viewContainer {
      padding: 0 8px;
      overflow: auto; }
    #content .hidden-sm-down {
      display: none; } }
@media screen and (max-width: 480px) {
  #content {
    top: 105px !important; }
    #content .viewContainer {
      padding: 0 8px;
      overflow: auto; } }
#breadcrumbHeader a.breadcrumbButton.leaf-breadcrumb {
  text-decoration: none;
  cursor: default; }

a:focus, div:focus, input:focus, span:focus, i:focus, button:focus, .breadcrumbButton:focus {
  outline: 0;
  box-shadow: 0 0 2px 3px #78aeda, 0 0 2px #78aeda inset;
  border-radius: 2px; }

label {
  margin-bottom: 10px; }

.progressbar-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.7);
  z-index: 9999; }
  .progressbar-container.ng-hide-add {
    transition: all linear 300ms; }
  .progressbar-container .progress {
    position: absolute;
    width: 200px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }

.viewContainer {
  padding: 8px 16px;
  height: 100%;
  overflow-x: auto;
  background-color: #edf2f7; }
  .viewContainer xe-table-grid .table-container .pagination-container {
    box-sizing: border-box; }
  .viewContainer hr {
    margin-top: 0;
    margin-bottom: 8px;
    border-top: 1px solid #000000; }
  .viewContainer .listActionItem .welcome {
    padding: 0 0 16px 0; }
    .viewContainer .listActionItem .welcome .username {
      font-size: 2em;
      font-weight: bold;
      color: #557287; }
  .viewContainer .listActionItem .welcometext {
    font-size: 1.5em; }
  .viewContainer .listActionItem .row {
    margin: 0; }
  .viewContainer .listActionItem .listActionItem-container .itemList .groupList {
    overflow-y: auto;
    padding-right: 0;
    padding-left: 0; }
  .viewContainer .listActionItem .listActionItem-container .itemList .groupDetail {
    overfloat-y: auto;
    padding-right: 0;
    padding-left: 0; }
    .viewContainer .listActionItem .listActionItem-container .itemList .groupDetail .detail-body-container {
      height: inherit;
      padding: 0;
      top: 85px; }
      .viewContainer .listActionItem .listActionItem-container .itemList .groupDetail .detail-body-container .detail-body {
        height: inherit; }
        .viewContainer .listActionItem .listActionItem-container .itemList .groupDetail .detail-body-container .detail-body.Fixed {
          position: fixed; }

.aip-modal .modal-sm {
  width: 320px; }
.aip-modal .modal-lg {
  width: 345px; }
.aip-modal .modal-dialog .modal-content {
  padding: 8px; }
.aip-modal .modal-dialog .modal-header {
  padding: 8px;
  min-height: 2.5em; }
  .aip-modal .modal-dialog .modal-header .modal-title {
    float: left;
    font-size: 1em;
    font-weight: bold; }
  .aip-modal .modal-dialog .modal-header .modal-close {
    float: right;
    border: none;
    background-color: transparent;
    padding: 0; }
.aip-modal .modal-dialog .modal-body {
  padding: 0; }
  .aip-modal .modal-dialog .modal-body .modal-body-info {
    padding: 0px 0px 8px 0px; }
    .aip-modal .modal-dialog .modal-body .modal-body-info .modal-info-bold {
      font-family: "OpenSans-bold"; }
    .aip-modal .modal-dialog .modal-body .modal-body-info .row {
      margin-right: 8px;
      margin-left: 8px; }
    .aip-modal .modal-dialog .modal-body .modal-body-info label {
      margin-bottom: 0px; }
  .aip-modal .modal-dialog .modal-body .modal-body-content {
    padding: 8px 8px 0px 8px; }
    .aip-modal .modal-dialog .modal-body .modal-body-content .row {
      margin-right: 0;
      margin-left: 0; }
  .aip-modal .modal-dialog .modal-body .modal-control button {
    width: 100%;
    border: none;
    border-top: 1px solid #cccccc;
    color: #557287; }

.cke_button_label.cke_button__a11ybtn_label {
  display: inline !important; }

.cke_button_icon.cke_button__a11ybtn_icon {
  display: none; }

.icon-green {
  color: #008000; }

.offscreen {
  visibility: hidden; }

/*bootstrap overrides*/
h2 {
  color: #4F585F;
  font-size: 1.5em;
  font-family: "OpenSans-semibold";
  margin: 5px 0; }

h3 {
  color: #4F585F;
  font-size: 1.5em;
  font-family: "OpenSans-semibold";
  margin: 5px 0; }

h3 {
  color: #4F585F;
  font-size: 1.15em;
  font-family: "OpenSans-semibold";
  margin: 5px 0; }

h4 {
  color: #4F585F;
  font-size: 1.15em;
  font-family: "OpenSans-semibold";
  margin: 5px 0; }

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active, .btn-primary {
  background-color: #275c8a; }

/*# sourceMappingURL=aip-main.css.map */
