csr-list .csr-list-container {
  border: none;
  box-shadow: none; }
  csr-list .csr-list-container .clearfix {
    content: " ";
    display: table; }
    csr-list .csr-list-container .clearfix:after {
      clear: both; }
  csr-list .csr-list-container .panel-body {
    padding: 0; }
  csr-list .csr-list-container hr {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #A4C6E4;
    height: 1px;
    border: 0; }
  csr-list .csr-list-container .panel-heading {
    background-color: transparent;
    border: none;
    padding: 0; }
    csr-list .csr-list-container .panel-heading .panel-title a:focus .item-group {
      outline: 0;
      box-shadow: 0 0 2px 3px #78aeda, 0 0 2px #78aeda inset;
      border-radius: 2px; }
    csr-list .csr-list-container .panel-heading .panel-title .accordion-toggle {
      color: black; }
    csr-list .csr-list-container .panel-heading .panel-title .item-group {
      padding: 0;
      margin: 2px; }
      csr-list .csr-list-container .panel-heading .panel-title .item-group .group-toggle-indicator {
        padding-right: 8px; }
      csr-list .csr-list-container .panel-heading .panel-title .item-group .group-title {
        white-space: nowrap;
        padding: 0 0 8px 0; }
        csr-list .csr-list-container .panel-heading .panel-title .item-group .group-title .group-title-text {
          font-size: 1em;
          padding-right: 8px;
          white-space: normal; }
      csr-list .csr-list-container .panel-heading .panel-title .item-group .group-title-icon {
        padding-right: 0;
        padding-left: 0; }
      csr-list .csr-list-container .panel-heading .panel-title .item-group .group-progress {
        padding: 0 8px; }
        csr-list .csr-list-container .panel-heading .panel-title .item-group .group-progress .progress {
          border-radius: 16px; }
          csr-list .csr-list-container .panel-heading .panel-title .item-group .group-progress .progress .progress-bar {
            border-radius: 16px; }
            csr-list .csr-list-container .panel-heading .panel-title .item-group .group-progress .progress .progress-bar span {
              text-align: center;
              position: absolute;
              left: 0;
              right: 0;
              width: auto;
              color: #272727;
              white-space: nowrap; }
          csr-list .csr-list-container .panel-heading .panel-title .item-group .group-progress .progress.normal .progress-bar span {
            color: white; }
  csr-list .csr-list-container .list-body-container .list-body {
    border: 1px solid #A4C6E4;
    padding: 0 0 8px 0; }
    csr-list .csr-list-container .list-body-container .list-body .list-item {
      padding: 16px 8px 0 8px; }
      csr-list .csr-list-container .list-body-container .list-body .list-item:hover {
        cursor: pointer;
        background-color: #eaeef1; }
      csr-list .csr-list-container .list-body-container .list-body .list-item .cell.title h3 {
        font-weight: bold;
        font-size: 1.3em;
        word-wrap: break-word;
        margin: 0;
        line-height: 1.8em;
        display: inline;
        border-bottom: solid 1px #000000;
        padding-bottom: 3px;
        padding-right: 10px; }
      csr-list .csr-list-container .list-body-container .list-body .list-item .cell.state {
        padding: 0; }
        csr-list .csr-list-container .list-body-container .list-body .list-item .cell.state span:first-letter {
          text-transform: uppercase; }
      csr-list .csr-list-container .list-body-container .list-body .list-item .badge {
        border-radius: 4px;
        color: #3a3737;
        margin-right: 8px;
        float: right;
        width: 100%; }
      csr-list .csr-list-container .list-body-container .list-body .list-item .cell.description {
        font-size: 1.3em;
        border-bottom: 1px solid #A4C6E4;
        padding: 24px 8px 16px 8px; }
  @media screen and (max-width: 768px) {
    csr-list .csr-list-container .header .list-item .title .badge {
      float: right; }
    csr-list .csr-list-container .list-body .list-item .badge {
      float: right; } }
  @media screen and (max-width: 480px) {
    csr-list .csr-list-container .list-body .description {
      padding-top: 8px; } }

.CSR-landing-container {
  padding: 16px; }
  .CSR-landing-container csr-landing-item .ladingItem-container {
    background-color: #ECECEC;
    font-size: 1.5em;
    border-radius: 4px;
    padding: 8px;
    margin: 24px;
    cursor: pointer; }
    .CSR-landing-container csr-landing-item .ladingItem-container:hover {
      background-color: lightgray; }
    .CSR-landing-container csr-landing-item .ladingItem-container .landing-icon {
      padding: 0; }
      .CSR-landing-container csr-landing-item .ladingItem-container .landing-icon .well {
        background-color: transparent;
        border: none;
        box-shadow: none; }
    .CSR-landing-container csr-landing-item .ladingItem-container .landing-context {
      padding: 8px; }
      .CSR-landing-container csr-landing-item .ladingItem-container .landing-context .landing-title {
        font-weight: bold;
        padding-bottom: 16px; }
  @media screen and (max-width: 480px) {
    .CSR-landing-container csr-landing-item .ladingItem-container {
      margin-left: 8px;
      margin-right: 8px; } }

.csr-item-detail-container {
  height: inherit; }
  .csr-item-detail-container .detail-content {
    height: inherit;
    border: 1px solid #A4C6E4;
    padding: 16px;
    overflow-y: scroll; }
    .csr-item-detail-container .detail-content hr {
      border-color: #A4C6E4 !important; }
    .csr-item-detail-container .detail-content .detail-title {
      padding-bottom: 16px; }
      .csr-item-detail-container .detail-content .detail-title span {
        font-size: 1.5em;
        border-bottom: 1px solid black; }
    .csr-item-detail-container .detail-content .detail {
      padding-bottom: 24px; }
      .csr-item-detail-container .detail-content .detail pre {
        border: none;
        background-color: transparent;
        padding: 0;
        word-break: normal;
        word-wrap: normal; }
    .csr-item-detail-container .detail-content .control {
      text-align: center; }
      .csr-item-detail-container .detail-content .control .actionItemTwoButton .buttonDiv {
        padding-bottom: 24px; }
        .csr-item-detail-container .detail-content .control .actionItemTwoButton .buttonDiv button {
          width: 100%;
          white-space: normal; }
    .csr-item-detail-container .detail-content .detail-nav {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
      .csr-item-detail-container .detail-content .detail-nav .btn-group {
        width: 100%; }

.groupAddContainer {
  padding: 8px 0; }
  .groupAddContainer .row {
    margin-left: 0;
    margin-right: 0; }
  .groupAddContainer .groupInfo {
    margin-bottom: 50px; }
    .groupAddContainer .groupInfo .groupInfoRow {
      margin-bottom: 16px; }
      .groupAddContainer .groupInfo .groupInfoRow .groupElement {
        padding-right: 8px;
        padding-left: 8px;
        margin-bottom: 8px; }
        .groupAddContainer .groupInfo .groupInfoRow .groupElement .alert {
          padding-top: 8px;
          padding-bottom: 8px; }
      .groupAddContainer .groupInfo .groupInfoRow .input-group .titleValue {
        font-size: 1.5em;
        font-weight: bold; }
      .groupAddContainer .groupInfo .groupInfoRow .dropdown {
        border: none;
        box-shadow: none;
        width: auto;
        padding: 0; }
        .groupAddContainer .groupInfo .groupInfoRow .dropdown .dropdown-menu {
          width: auto;
          border: 1px solid rgba(0, 0, 0, 0.15); }
  .groupAddContainer .groupControl {
    position: absolute;
    width: 100%;
    bottom: 8px; }
    .groupAddContainer .groupControl .groupButton {
      text-align: center;
      padding-left: 0; }
      .groupAddContainer .groupControl .groupButton button {
        width: 100%;
        max-width: 200px; }

#username {
  padding-right: 0.5em; }

#content {
  overflow: hidden;
  top: 90px !important; }
  #content #title-panel h1 {
    line-height: normal; }

@media screen and (max-width: 480px) {
  #content {
    top: 105px !important; }
    #content .viewContainer {
      padding: 0 8px; } }
#breadcrumbHeader .breadcrumbButton {
  font-size: 0.8em; }
#breadcrumbHeader a.breadcrumbButton.leaf-breadcrumb {
  text-decoration: none;
  cursor: default; }

a:focus, div:focus, input:focus, span:focus, .breadcrumbButton:focus {
  outline: 0;
  box-shadow: 0 0 2px 3px #78aeda, 0 0 2px #78aeda inset;
  border-radius: 2px; }

.progressbar-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.7);
  z-index: 9999; }
  .progressbar-container.ng-hide-add {
    transition: all linear 300ms; }
  .progressbar-container .progress {
    position: absolute;
    width: 200px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }

.viewContainer {
  padding: 8px 16px;
  height: 100%; }
  .viewContainer xe-table-grid .table-container .pagination-container {
    box-sizing: border-box; }
  .viewContainer .listActionItem .welcome {
    padding: 0 0 16px 0; }
    .viewContainer .listActionItem .welcome .username {
      font-size: 2em;
      font-weight: bold; }
  .viewContainer .listActionItem hr {
    margin-top: 0;
    margin-bottom: 8px;
    border-top: 1px solid #000000; }
  .viewContainer .listActionItem .welcometext {
    font-size: 1.5em; }
  .viewContainer .listActionItem .row {
    margin: 0; }
  .viewContainer .listActionItem .listActionItem-container .itemList .groupList {
    overflow-y: auto;
    padding-right: 0;
    padding-left: 0; }
  .viewContainer .listActionItem .listActionItem-container .itemList .groupDetail {
    overfloat-y: auto;
    padding-right: 0;
    padding-left: 0; }
    .viewContainer .listActionItem .listActionItem-container .itemList .groupDetail .detail-body-container {
      height: inherit;
      padding: 0;
      top: 85px; }
      .viewContainer .listActionItem .listActionItem-container .itemList .groupDetail .detail-body-container .detail-body {
        height: inherit; }
        .viewContainer .listActionItem .listActionItem-container .itemList .groupDetail .detail-body-container .detail-body.Fixed {
          position: fixed; }

/*# sourceMappingURL=csr-main.css.map */
