@import '../csrApp/common/directives/csr-list/css/csrList';
@import '../csrApp/common/directives/csr-landing-item/css/csrLandingItem';

#breadcrumb-panel {
  display: none;
}
#title-panel {
  display: none;
}
#username {
  padding-right: 0.5em;
}
#content {
  overflow:hidden;
  #title-panel {
    h1 {
      line-height: normal;
    }
  }
}
#breadcrumbHeader {

  .breadcrumbButton {
    font-size: 0.8em;
  }
  a.breadcrumbButton.leaf-breadcrumb {
    text-decoration:none;
    cursor: default;
  }
}

//focus indicator override for windows
a:focus, div:focus, input:focus, span:focus, .breadcrumbButton:focus {
  outline:0;
  box-shadow: 0 0 2px 3px #78aeda, 0 0 2px #78aeda inset; border-radius: 2px;
}

.progressbar-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.7);
  z-index: 9999;
  &.ng-hide-add {
    transition: all linear 300ms;
  }
  .progress {
    position: absolute;
    width: 200px;
    margin:auto;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
.viewContainer {
  padding: 8px 16px;
  height: 100%;
  overflow-y: scroll;
  margin-top: 5px;
  //override common-component angular-grid
  xe-table-grid {
    .table-container {
      .pagination-container {
        box-sizing: border-box;
      }
    }
  }
}
