
.titleValue {
    font-size: 1.5em;
    font-weight: bold;
    white-space:nowrap;
  }

.fieldValue {
    font-size: 1.5em;
    white-space:nowrap;
  }

.review-action-item-container {
    border:solid 3px powderblue;
    padding:2px;
}

.comments-labal-top-padding {
    padding-top: 1em;
}
.review-block-labal-top-padding {
    padding-top: 2px;
}

.row-top-padding {
    padding-top: 1em;
}

.external-check-box-height {
    width: 16px;
    height: 16px;
}

.view-attachment-icon {
    background: url(../images/aip_view_attachment.svg) no-repeat;
    cursor: pointer;
    height: 1.5em;
    width: 1.8em;
    border: none;
    margin-right: 2em;
    margin-left: 1em !important;
}
