<!--*******************************************************************************
Copyright 2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div id="reviewactionitem">
    <div class="row ">
        <div class="col-xs-2 col-sm-2">
            <label for="personId" class="titleValue" id="personId">{{"js.aip.review.monitor.action.personIdLabel"|i18n_aip}}
            </label>
        </div>
        <div class="col-xs-7 col-sm-7">
            {{vm.actionItemDetails.spridenId}}
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-2 col-sm-2">
            <label for="personName" class="titleValue " id="personName">{{"js.aip.review.monitor.action.personNameLabel"|i18n_aip}}
            </label>
        </div>
        <div class="col-xs-7 col-sm-7">
            <div class="semi-bold">{{vm.actionItemDetails.actionItemPersonName}}</div>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-2 col-sm-2">
            <label for="actionItem" class="titleValue " id="actionItem">{{"js.aip.review.monitor.action.itemLabel"|i18n_aip}}
            </label>
        </div>
        <div class="col-xs-7 col-sm-7">
            <div>{{vm.actionItemDetails.actionItemName}}</div>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-2 col-sm-2">
            <label for="currentResponse" class="titleValue " id="currentResponse">{{"aip.user.action.item.last.response"|i18n_aip}}
            </label>
        </div>
        <div class="col-xs-7 col-sm-7">
            <div>{{vm.actionItemDetails.currentResponseText}}</div>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-2 col-sm-2">
            <label for="statusDate" class="titleValue" id="statusDate">{{"js.aip.review.monitor.action.statusLabel"|i18n_aip}}
            </label>
        </div>
        <div class="col-xs-7 col-sm-7">
            <div>{{vm.actionItemDetails.status}} {{vm.actionItemDetails.responseDate}}</div>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-2 col-sm-2">
            <label for="startEndDate" class="titleValue " id="startEndDate">{{"js.aip.review.monitor.action.dateLabel"|i18n_aip}}
            </label>
        </div>
        <div class="col-xs-7 col-sm-7">
            <div>{{vm.actionItemDetails.displayStartDate}}-{{vm.actionItemDetails.displayEndDate}}</div>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-2 col-sm-2">
            <label for="numberOfAttachments" class="titleValue " id="numberOfAttachments">{{"js.aip.review.monitor.action.numberOfAttachmentsLabel"|i18n_aip}}
            </label>
        </div>
        <div class="col-xs-7 col-sm-7">
            <div>{{vm.actionItemDetails.attachments}}</div>
        </div>
    </div>
    <div ng-if="vm.actionItemDetails.attachments>0" class="row">
        <div class="col-xs-2 col-sm-2">
            <label for="viewAttachments" class="titleValue " id="viewAttachments">{{"js.aip.review.monitor.action.viewAttachmentsLabel"|i18n_aip}}
            </label>
        </div>
        <div class="col-xs-7 col-sm-7">
            <img src="../images/attach_icon_default.svg" class="attachmentimage" ng-click="vm.viewAttachemnts()"/>
        </div>
    </div>
        <xe-popup-modal show=vm.showModal focusbackelement="tools"
                                        pageheader={{"js.aip.review.monitor.action.viewAttachments.modal.title"|i18n_aip}}>
            <popup-content>
                <div class="attachmentsTable">
                                    <xe-table-grid
                                            table-id="dataTableAttachmentsList"
                                            header="header"
                                            fetch="fetchData(query)"
                                            content="gridData.row"
                                            results-found="records"
                                            toolbar="false"
                                            paginate="false"
                                            on-row-click="selectRecord(data)"
                                            no-data-msg="{{'aip.common.no.results.found'|i18n_aip}}"
                                            search-config="searchConfig"
                                            pagination-config="paginationConfig"
                                            mobile-layout="mobileConfig"
                                            draggable-column-names="draggableColumnNames"
                                            continuous-scrolling="true"
                                            continuous-scroll-parent="attachmentsTable"
                                            refresh-grid="refreshGrid"
                                            height="10em">
                                        <xe-cell-markup column-name="attachmentActions">
                                            <div class="row attachmentActions">
                                                <button class="view-attachment-icon" ng-click="previewDocument()"
                                                        title="{{'aip.common.open.action.item.jaws'|i18n_aip}}"
                                                        aria-label="{{'aip.common.open.action.item.jaws'|i18n_aip}}">
                                                </button>
                                            </div>
                                        </xe-cell-markup>
                                    </xe-table-grid>
                                </div>
            </popup-content>
        </xe-popup-modal>
</div>
