.aip-modal {
  .modal-dialog {
    .modal-header {
      border-bottom: none;
    }
    .modal-body {
      .modal-body-content {
        .row.blockProcess {
          padding: 16px;
          input {
            margin-right: 8px;
          }
        }
      }
      .modal-control {
        .btn-back {
          width: 50%;
          float: left;
        }
        .btn-divide {
          content: '';
          display: inline-block;
          width: 1px;
          height: 23px;
          bottom: 5px;
          background: #86BDDE;
          position: absolute;

        }
        .btn-forward {
          width: 50%;
        }
      }
    }
  }
}