<div class="status-rules">

    <div class="row">
        <div class="headings col-sm-12">
            <p class="heading-label">{{'aip.admin.status.rules.table.heading'|i18n_aip}}</p>
            <p class="heading-instructions">{{'aip.admin.status.rules.table.instructions.template'|i18n_aip}}</p>
        </div>
    </div>

    <div class="status-response row" ng-repeat="item in rules">
        <div class="response-field col-sm-7">
            <div class="row">
                <div class="col-sm-12">
                    <label for="response-{{$index+1}}">{{'aip.admin.status.rules.table.header.responseOptionText'|i18n_aip}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input name="ResponseOptionText-{{$index+1}}" id="response-{{$index+1}}" type="text" class="form-control" ng-model="item.statusRuleLabelText" required aria-required="true" maxlength="150">
                </div>
            </div>
        </div>

        <div class="response-field col-sm-3">
            <div class="row">
                <div class="col-sm-12">
                    <label for="status-{{$index+1}}">{{'aip.admin.status.rules.table.header.status'|i18n_aip}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <select name="Status-{{$index+1}}" id="status-{{index+1}}" class="actionItemSelect form-control" xe-data="" aria-label="Status" required aria-required="true"
                            ng-model="item.status"
                            ng-options="statusItem as statusItem.actionItemStatus for statusItem in status track by statusItem.actionItemStatusId">
                    </select>
                </div>
            </div>
        </div>

        <div class="record-controls col-sm-1">
            <div class="row">
                <div class="col-sm-12">
                    <button name="SortAsc" type="button" class="btn btn-default sort" ng-click="moveUp(item)" aria-label="Move up" ng-disabled="isFirst(item)" id="sort-{{$index+1}}">
                        <span class="icon icon-arrowTop-C"></span>
                    </button>
                </div>
            </div>
            <div class="row clear">
                <div class="col-sm-12">
                    <button name="SortDesc" type="button" class="btn btn-default sort" ng-click="moveDown(item)" aria-label="Move down" ng-disabled="isLast(item)">
                        <span class="icon icon-arrowBottom-C"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="record-controls col-sm-1">
            <div class="row">
                <div class="col-sm-12">
                    <button name="Delete" type="button" class="btn btn-default delete" ng-click="removeRule(item)" aria-label="Remove Response Option">
                        <span class="icon icon-delete-CO" role="presentation"
                              aria-label="{{'aip.admin.status.rules.table.form.delete'|i18n_aip}}"></span>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="row clear">
        <div class="add-link col-sm-12">
            <a href="javascript:void(0);" ng-click="addRule()">
                <span class="icon icon-add-CO" role="presentation" aria-label="Add Response Option"></span>
                <span>{{'aip.admin.status.rules.table.form.add'|i18n_aip}}</span>
            </a>
        </div>
    </div>
</div>