$badge-color: #FFCDAA;
$badge-border-color: #FD9F5E;
$banner-color: #557287;
$border-color: #A4C6E4;

csr-list {
  .csr-list-container {
    border: 1px solid $border-color;
    .row {
      margin: 0;
    }
    hr {
      margin-top: 0;
      margin-bottom: 0;
      background-color: $border-color;
      height: 1px;
      border: 0;
    }
    .header {
      background-color: aliceblue;
      .row.list-item {
        vertical-align: middle;
        padding: 16px 0;
        .title {
          font-size: 1.8em;
          white-space: nowrap;
          .badge {
            background-color: $badge-color;
            border: 1px solid $badge-border-color;
            color: #3a3737;
            padding: 3px 10px;
            border-radius: 50%;
            box-shadow: 4px 4px 4px;
            margin-left: 16px;
          }
        }
        .description {
          line-height: 1.5;
          padding-left: 0;
          font-size: 1.3em;
        }
      }
    }
    .list-body {
      .list-item {
        padding: 16px 0;
        border-bottom: 1px solid $border-color;
        &:hover {
          cursor: pointer;
          background-color: lighten($banner-color, 50%);
        }
        .cell.title {
          font-weight: bold;
          font-size: 1.3em;
        }
        .cell.state {
          padding: 0;
          span:first-letter {
            text-transform: uppercase;
          }
        }
        .badge {
          border-radius: 4px;
          color: #3a3737;
          margin-right: 20px;
          padding: 7px 10px;
        }
        .cell.description {
          font-size: 1.3em;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .header {
        .list-item {
          .title {
            .badge {
              float: right;
            }
          }
          .description {
            display: none;
          }
        }
      }
      .list-body {
        .list-item {
          .badge {
            float: right;
          }
          .description {
            margin-top: 25px;
          }
        }
      }
    }
  }
}