<div class="modal-header">
    <h3 class="modal-title" id="modal-list-inform-title">{{"aip.inform.list.title"|i18n_aip}}</h3>
</div>
<div class="modal-body" id="modal-list-inform-body">
    <div class="modal-body-content">
        <div class="row">
            <label>
                {{"aip.inform.list.notice"|i18n_aip}}
            </label>
        </div>
    </div>
    <div>
        <span class="font-semibold">{{"aip.inform.list.continue.message.1"|i18n_aip}} </span>{{"aip.inform.list.continue.message.2"|i18n_aip}}
    </div>
    <div>
        <span class="font-semibold">{{"aip.inform.list.cancel.message.1"|i18n_aip}} </span>{{"aip.inform.list.cancel.message.2"|i18n_aip}}
    </div>
    <div class="modal-control">
        <button type="button" class="btn btn-default" ng-click="vm.goBack()">
            {{"aip.inform.list.cancel.button"|i18n_aip}}
        </button>
        <button type="button" class="btn btn-default" ng-click="vm.goAhead()">
            {{"aip.inform.list.continue.button"|i18n_aip}}
        </button>
    </div>
</div>