<div class="modal-header">
    <h3 class="modal-title" id="modal-list-inform-title">Why you are here</h3>
    <button type="button" ng-click="vm.closeDialog()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
</div>
<div class="modal-body" id="modal-list-inform-body">
    <div class="modal-body-content">
        <div class="row">
            <label>
                you are here because
            </label>
        </div>
    </div>
    <div class="modal-control">
        <button type="button" class="btn btn-default" ng-click="vm.goAhead()">
            go ahead
        </button>
        <button type="button" class="btn btn-default" ng-click="vm.goBack()">
            go back
        </button>
    </div>
</div