<div class="csr-item-detail-container">
    <div class="detail-content">
        <div class="detail">
            <!--TODO:: text goes here-->
            <!--<ng-transclude></ng-transclude>-->
            <pre>{{data.info.content}}</pre>
        </div>
        <hr/>
        <div class="control">
            <!--group-->
            <div class="groupButton" ng-if="data.type==='group'">
                <button type="button" class="btn btn-primary" ng-click="proceed()">
                    {{"csr.user.detail.button.proceed"|i18n_csr}}
                </button>
            </div>
            <!--action item-->
            <div class="row actionItemTwoButton" ng-if="data.type!=='group'">
                <!--TODO::add 'Agree' and 'Deny' buttons with detail information-->
                <div class="col-sm-8 col-sm-offset-2 col-xs-12 buttonDiv">
                    <button type="button" class="btn btn-default" ng-click="agree(data.info.id)">
                        {{"csr.user.detail.button.confirm"|i18n_csr}}
                    </button>
                </div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-12 buttonDiv">
                    <button type="button" class="btn btn-default" ng-click="notAgree(data.info.id)">
                        {{"csr.user.detail.button.deny"|i18n_csr}}
                    </button>
                </div>
            </div>
        </div>
        <div class="detail-nav hidden-sm hidden-md hidden-lg visible-xs-12" ng-if="data.type!=='group'">
            <div class="row btn-group">
                <label class="btn btn-primary col-xs-6" ng-click="returnlist()">
                    <i class="fa fa-list"></i>
                    <span>{{"csr.user.detail.button.return"|i18n_csr}}</span>
                </label>
                <label class="btn btn-primary col-xs-6" ng-click="nextitem(groupId, itemId)">
                    <span>{{"csr.common.next"|i18n_csr}}</span>
                    <i class="fa fa-caret-right"></i>
                </label>
            </div>
        </div>
    </div>


</div>