.AIP-landing-container {
  padding: 16px;
}

@media (max-width: 574.98px) {
  .fix-margin {
    margin-left: -20px;
    margin-right: 0px;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 375px) and (max-width: 575.98px) {
  .fix-margin {
    margin-left: -10px;
    margin-right: 0px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .fix-margin {
    margin-left: -10px;
    margin-right: 0px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .fix-margin {
    margin-left: -15px;
    margin-right: 0px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .fix-margin {
    margin-left: -10px;
    margin-right: 0px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .fix-margin {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.landingItem-container {
  background-color: #ffffff;
  font-size: 1.5em;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  .landingItem {
    float: left;
  }
  &:hover {
    background-color: #ffffff;
  }
  .landing-icon {
    padding: 15px 0px;
    max-width: 100px;
    margin: 0;
    height:auto;
    float:left;
    .well {
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
    .icon {
      font-size: 3em;
      color: #206E9F;
    }
  }
  .landing-context {
    padding: 8px 24px;
    border-left: 2px solid #EDF2F7;
    border-right: none;
    .landing-title {
      font-weight: bold;
      padding-bottom: 16px;
    }
    .landing-description {
      min-height: 70px;
    }
  }
}

@media screen and (max-width:768px) {
  .landingItem-container {
    padding: 0;
    margin-left: 8px;
    margin-right: 8px;
    .landing-icon {
      padding: 16px;
    }
  }
}


@media screen and (max-width:480px) {
  .landingItem-container {
    padding: 0;
    margin-left: 8px;
    margin-right: 8px;
    .landing-icon {
      padding: 16px 8px;
    }
    .landing-context {
      .landing-title {
        padding: 8px;

      }
      .landing-description {
        padding: 8px;
      }
    }
  }
}

