$badge-color: #FFCDAA;
$badge-border-color: #FD9F5E;
$banner-color: #557287;
$border-color: #A4C6E4;


.aip-status-rule-container {
  height: inherit;

  /*
  .detail-content {
    height: inherit;;
    border: 1px solid $border-color;
    padding: 0px 16px 16px 16px;
    overflow-y: scroll;
    hr {
      border-color: $border-color !important;
    }
    .detail-title {
      padding-bottom: 16px;
      h4 {
        font-size: 1.5em;
      }
    }
    .detail {
      padding-bottom: 24px;
      font-size:1.4em;
      pre {
        border: none;
        background-color: transparent;
        padding: 0;
        word-break: normal;
        word-wrap:normal;
      }
    }
    .control {
      text-align: center;
      .groupButton {

      }
      .actionItemTwoButton {
        .buttonDiv {
          padding-bottom: 24px;
          button {
            width: 100%;
            white-space:normal;
          }
        }
      }
    }
    .detail-nav {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      .btn-group {
        width: 100%;
      }
    }
  }
  */
}