<!--*******************************************************************************
 Copyright 2018 Ellucian Company L.P. and its affiliates.
 *******************************************************************************-->
<uib-accordion-group class="aip-list-container" role="tablist" is-open="isOpen">
    <uib-accordion-heading id="heading-{{itemgroup.id}}" role="tab" aria-label="group-title-heading">
        <div class="item-group row">
            <div class="row">
                <div class="group-title col-sm-12 col-xs-12">
                    <div aria-label="{{itemgroup.title}} {{completedItem().length}} of {{itemgroup.items.length}} {{'aip.common.text.completed'|i18n_aip}}"
                        id="h2-{{itemgroup.id}}" class="group-title-text col-sm-6 col-xs-7" tabindex="-1">
                        <h2 id="group-title-heading-{{itemgroup.id}}" class="group-title-text" ng-bind-html="itemgroup.title"></h2>
                    </div>
                    <div class="aip-icons">
                        <span class="halt-icon">
                            <i class="fa fa-ban" ng-if="itemgroup.groupHalted" title="{{'aip.user.action.item.groupHalt.icon.title'|i18n_aip}}"></i>
                        </span>
                        <span class="badge" ng-if="!isOpen">
                            <span >{{completedItem().length}}/</span> <span >{{itemgroup.items.length}}</span>
                        </span>
                        <i role="presentation" class="group-toggle-indicator fa col-xs-1" ng-class="{'fa-caret-up':isOpen, 'fa-caret-down':!isOpen}"></i>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="group-progress col-sm-12" ng-if="isOpen">
                    <uib-progressbar  max="itemgroup.items.length" value="completedItem().length" ng-class='{"progresssuccessfull" : completedItem().length === itemgroup.items.length}'>
                        <span id="progressbar"><span class="progress_bar_status_left" >{{completedItem().length}} {{'aip.progressbar.stats.of'|i18n_aip }}</span> <span >{{itemgroup.items.length}}</span></span>
                    </uib-progressbar>
                </div>
            </div>

            <div class="row instruction">
                <div class="group-title-icon" ng-if="isOpen">
                    <a class="group-instructions" ng-focus="focusing($event)" tabindex="0" href="javascript:void(0);"
                       ng-click="displayGroupInfo(itemgroup.id, $event)" ng-keypress="displayGroupInfo(itemgroup.id, $event)" aria-label="{{'aip.common.text.group.instructions'|i18n_aip}}">
                        {{'aip.common.text.group.instructions'|i18n_aip}}</a>
                </div>
            </div>
        </div>
    </uib-accordion-heading>
    <div class="row">
        <div class="list-body-container box">
            <div id="group-{{itemgroup.id}}" class="list-body" role="tabpanel" aria-labelledby="group-title-heading-{{itemgroup.id}}">
                <div id="item-{{itemgroup.id}}-{{row.id}}"
                     class="row list-item" ng-repeat="row in itemgroup.items" ng-click="selectItem(itemgroup, row, $event)">
                    <div ng-if="row.displayEndDate" class="enddate"><span>{{'aip.common.text.date.end'|i18n_aip}}</span>{{row.displayEndDate}}</div>
                    <div>
                        <div>
                            <div class="title">
                                <h3 ng-if="row['title']" ng-bind-html="row['title']" ></h3>
                            </div>
                            <div class="aip-icons">
                                <span class="halt-icon">
                                    <i class="fa fa-ban" ng-if="row['actionItemHalted']" title="{{'aip.user.action.item.actionItemHalt.icon.title'|i18n_aip}}"></i>
                                </span>
                                    <span class="status">
                                    <span ng-class="{'badge pending':row['status']==='Pending',
                                    'badge approve':row['status']==='Completed'||(row['status']!=='Completed'&&row['status']!=='Rejected'&&row['status']!=='Pending'), 'badge reject':row['status']==='Rejected'}">
                                        <span class="data-label" ng-if="row['status']==='Rejected'">{{'aip.user.action.item.status.rejected'|i18n_aip}}</span>
                                        <span class="data-label" ng-if="row['status']==='Completed'">{{'aip.user.action.item.status.completed'|i18n_aip}}</span>
                                        <span class="data-label" ng-if="row['status']==='Pending'">{{'aip.user.action.item.status.pending'|i18n_aip}}</span>
                                        <span class="data-label" ng-if="row['status'] !=='Pending' && row['status'] !== 'Completed' && row['status']!== 'Rejected'">{{row['status']}}</span>
                                        <!--<span class="notification-icon" ng-if="row['isBlocking']"></span>-->
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="actionItemParams">
                            <div ng-if="row['completedDate']!==null">
                                <span class="data-label" >{{'aip.common.text.date.response.saved'|i18n_aip}}</span>{{row['completedDate']}}
                                <p><span class="data-label">{{'aip.user.action.item.last.response'|i18n_aip}}</span>{{row['currentResponse']}}</p>
                            </div>
                            <div class="haltProcessList" ng-if="row['actionItemHalted']">
                                <span class="data-label">{{'aip.user.action.item.haltProcess.list'|i18n_aip}}</span>
                                <ul class="list-group">
                                    <li ng-repeat="haltProcessName in row['haltProcesses']">{{haltProcessName}}</li>
                                </ul>
                            </div>
                        </div>

                        <div class="description">
                            <pre ng-show="row['description'].length>0">  <aip-readmore class="aipReadmore" ng-bind-html="row['description']"></aip-readmore> </pre>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</uib-accordion-group>
