/*******************************************************************************
Copyright 2018 Ellucian Company L.P. and its affiliates.
********************************************************************************/
.file-input {
   height: 30px;
   width: 250px;
   border-radius: 4px;
   border: 1px solid threedface;
   font-style: italic;
   font-family: openSansSemiBold;
   font-size: 14px;
   color: #000000;
   padding-left:4px;
 }
.btn-margin-left{
  margin-left: 10px;
}
.btn-margin-top{
  margin-top: -5px;
}
