/*********************************************************************************
 Copyright 2017 Ellucian Company L.P. and its affiliates.
 **********************************************************************************/
$badge-color: #FFCDAA;
$badge-border-color: #FD9F5E;
$banner-color: #557287;
$border-color: #A4C6E4;
$heading-background: #ECECEC;
$top-background: #EFF4F8;
$progressbar-color: #FFD079;
$progressbar-text: #103750;
$link-color: #206E9f;
$accordion-toggle: #000000;
$outline: #78aeda;
$badge-text: #3a3737;
$cell-text: #A4C6E4;

aip-list {
  .aip-list-container {
    border: none;
    box-shadow: none;
    .clearfix {
        content: " ";
        display: table;
      &:after {
        clear: both;
      }
    }
    .panel-body {
      padding: 0;
    }
    hr {
      margin-top: 0;
      margin-bottom: 0;
      background-color: $border-color;
      height: 1px;
      border: 0;
    }
    .panel-heading {
      background-color:$heading-background;
      border: none;
      padding: 0;
      .panel-title {
        a:focus {
          .item-group {
            outline:0;
            box-shadow: 0 0 2px 3px $outline, 0 0 2px $outline inset; border-radius: 2px;
          }
        }
        .accordion-toggle {
          color: $accordion-toggle;
        }
        .item-group {
          padding: 16px 8px 8px 8px;
          margin: 2px;
          .row.instruction {
            border-top: solid 1px $border-color;
            padding: 8px 0 8px 0;
            span {
              text-decoration: underline;
              color: $link-color;
            }
          }
          .group-toggle-indicator {
            float: right;
            padding-right: 8px;
          }
          .group-title {
            white-space: nowrap;
            padding: 0 0 16px 0;
            .group-title-text {
              font-size: 1em;
              padding-right: 8px;
              white-space: normal;
              float: left;
            }
          }
          .group-title-icon {
            padding-right: 0;
            padding-left: 16px;
            .group-info {
              //float: right;
            }
          }
          .badge {
            //float: right;
            margin-left: 5px;
            &.pending {
              border: 1px solid #B0ABD0;
              background-color: #DAD5FF;
            }
            &.reject {
              border: 1px solid #4EC76A;
              background-color: #C9F0C7;
            }
            &.approve {
              border: 1px solid #F57E7E;
              background-color: #FFDCDC;
            }
          }

          .group-instructions {
            text-decoration: underline;
            color: $link-color;
          }
          .group-progress {
            padding: 0;
            .progress {
              border-radius: 0;
              border: solid 2px $border-color;
              background-color: white;

              .progress-bar {
                border-radius: 0;
                background-color: $progressbar-color;
                box-shadow: none;
                span {
                  color: $progressbar-text;
                  text-align: right;
                  position: absolute;
                  left: 0;
                  right: 1.5em;
                  width: auto;
                  white-space: nowrap;
                }
              }
              &.normal {
                .progress-bar {
                  span {
                    color: white;
                  }
                }
              }
            }

          }
        }
      }
    }
    .list-body-container {
      .list-body {
        border: 1px solid $cell-text;
        padding: 0 0 8px 0;
        .list-item {
          padding: 16px 8px 0 8px;
          //border-bottom: 1px solid $border-color;
          &:hover {
            cursor: pointer;
            background-color: lighten($banner-color, 50%);
          }
          .aipReadmore {
            word-break: normal;
            //hyphenate-character: auto;
            //hyphens: auto;
            //-moz-hyphens: auto;
            //-ms-hyphens: auto;
            //-webkit-hyphens: auto;
            //mso-hyphenate: auto;
          }
          .cell.title {
            padding-left: 10px;
            float: left;
            h3,h4 {
              font-weight: bold;
              font-size: 1.5em;
              word-wrap: break-word;
              margin: 0;
              /*line-height: 1.8em;*/
              color: $link-color;
              display: inline;
              /*border-bottom: solid 1px #206E9f;*/
              text-decoration: underline;
              font-family:"OpenSans-regular";
              padding-bottom: 3px;
              padding-right: 10px;
              padding-left: 0;
            }
          }
          .cell.state {
            padding: 0;
            span:first-letter {
              text-transform: uppercase;
            }
          }
          .badge {
            border-radius: 4px;
            color: $badge-text;
            margin-right: 8px;
            //padding: 7px 10px;
            float: right;
            //width: 100%;
            &.pending {
              border: 1px solid #B0ABD0;
              background-color: #DAD5FF;
            }
            &.reject {
              border: 1px solid #4EC76A;
              background-color: #C9F0C7;
            }
            &.approve {
              border: 1px solid #F57E7E;
              background-color: #FFDCDC;
            }
          }
          .cell.completedDate {
            font-size: 1.3em;
            border-bottom: none;
            padding: 25px 8px 0px 10px;
            span.data-label {
              font-family: "OpenSans-bold";
            }
          }
          .cell.description {
            font-size: 1.3em;
            border-bottom: 1px solid $cell-text;
            padding: 10px 5px 15px 10px;
          }
        }
      }
    }
    //small size (tablet)
    @media screen and (max-width: 768px) {
      .header {
        .list-item {
          .title {
            padding-left: 0;
            .badge {
              float: right;
            }
          }
          //.description {
          //  display: none;
          //}
        }
      }
      .list-body {
        .list-item {
          .badge {
            float: right;
          }
        }
      }
    }
    //extra small size (phone)
    @media screen and (max-width: 480px) {
      .list-body {
        .description {
          padding-top: 8px;
        }
      }
    }
  }
}