$badge-color: #FFCDAA;
$badge-border-color: #FD9F5E;
$banner-color: #557287;
$border-color: #A4C6E4;
$heading-background: #ECECEC;
$top-background: #EFF4F8;
$progressbar-color: #FFD079;

aip-list {
  .aip-list-container {
    border: none;
    box-shadow: none;
    .clearfix {
        content: " ";
        display: table;
      &:after {
        clear: both;
      }
    }
    .panel-body {
      padding: 0;
    }
    hr {
      margin-top: 0;
      margin-bottom: 0;
      background-color: $border-color;
      height: 1px;
      border: 0;
    }
    .panel-heading {
      background-color:$heading-background;
      border: none;
      padding: 0;
      .panel-title {
        a:focus {
          .item-group {
            outline:0;
            box-shadow: 0 0 2px 3px #78aeda, 0 0 2px #78aeda inset; border-radius: 2px;
          }
        }
        .accordion-toggle {
          color: black;
        }
        .item-group {
          padding: 16px 8px 8px 8px;
          margin: 2px;
          .row.instruction {
            border-top: solid 1px $border-color;
            padding: 8px 0 8px 0;
            span {
              text-decoration: underline;
              color: $banner-color;
            }
          }
          .group-toggle-indicator {
            float: right;
            padding-right: 8px;
          }
          .group-title {
            white-space: nowrap;
            padding: 0 0 16px 0;
            .group-title-text {
              font-size: 1em;
              padding-right: 8px;
              white-space: normal;
            }
          }
          .group-title-icon {
            padding-right: 0;
            padding-left: 0;
            .group-info {
              //float: right;
            }
          }
          .badge {
            //float: right;
          }
          .group-progress {
            padding: 0;
            .progress {
              border-radius: 0;
              border: solid 2px $border-color;
              background-color: white;

              .progress-bar {
                border-radius: 0;
                background-color: $progressbar-color;
                box-shadow: none;
                span {
                  color: $banner-color;
                  text-align: right;
                  position: absolute;
                  left: 0;
                  right: 1.5em;
                  width: auto;
                  white-space: nowrap;
                }
              }
              &.normal {
                .progress-bar {
                  span {
                    color: white;
                  }
                }
              }
            }

          }
        }
      }
    }
    .list-body-container {
      .list-body {
        border: 1px solid #A4C6E4;
        padding: 0 0 8px 0;
        .list-item {
          padding: 16px 8px 0 8px;
          //border-bottom: 1px solid $border-color;
          &:hover {
            cursor: pointer;
            background-color: lighten($banner-color, 50%);
          }
          .aipReadmore {
            word-break: normal;
            //hyphenate-character: auto;
            //hyphens: auto;
            //-moz-hyphens: auto;
            //-ms-hyphens: auto;
            //-webkit-hyphens: auto;
            //mso-hyphenate: auto;
          }
          .cell.title {
            h3 {
              font-weight: bold;
              font-size: 1.3em;
              word-wrap: break-word;
              margin: 0;
              line-height: 1.8em;
              display: inline;
              border-bottom: solid 1px #000000;
              padding-bottom: 3px;
              padding-right: 10px;
            }
          }
          .cell.state {
            padding: 0;
            span:first-letter {
              text-transform: uppercase;
            }
          }
          .badge {
            border-radius: 4px;
            color: #3a3737;
            margin-right: 8px;
            //padding: 7px 10px;
            float: right;
            width: 100%;
          }
          .cell.description {
            font-size: 1.3em;
            border-bottom: 1px solid #A4C6E4;
            padding: 24px 8px 16px 8px;
          }
        }
      }
    }
    //small size (tablet)
    @media screen and (max-width: 768px) {
      .header {
        .list-item {
          .title {
            .badge {
              float: right;
            }
          }
          //.description {
          //  display: none;
          //}
        }
      }
      .list-body {
        .list-item {
          .badge {
            float: right;
          }
        }
      }
    }
    //extra small size (phone)
    @media screen and (max-width: 480px) {
      .list-body {
        .description {
          padding-top: 8px;
        }
      }
    }
  }
}