/*********************************************************************************
 Copyright 2017-2018 Ellucian Company L.P. and its affiliates.
 **********************************************************************************/
$badge-color: #FFCDAA;
$badge-border-color: #FD9F5E;
$banner-color: #557287;
$border-color: #A4C6E4;
$heading-background: #ECECEC;
$top-background: #EFF4F8;
$progressbar-color: #FFD079;
$progressbar-text: #103750;
$link-color: #206E9f;
$accordion-toggle: #000000;
$outline: #78aeda;
$badge-text: #3a3737;
$cell-text: #A4C6E4;

aip-list {
  .aip-list-container {
    border: none;
    box-shadow: none;
    .clearfix {
        content: " ";
        display: table;
      &:after {
        clear: both;
      }
    }
    .panel-body {
      padding: 0;
    }

    .progress_bar_status_left{
      margin-right: 12px;
    }

    hr {
      margin-top: 0;
      margin-bottom: 0;
      background-color: $border-color;
      height: 1px;
      border: 0;
    }
    .halt-icon{
      font-size: large;
      color: #d12121;
    }
    .aip-icons{
      float: right;
    }
    .panel-heading {
      background-color: $heading-background;
      border: none;
      padding: 0;
      .panel-title {
        a:focus {
          .item-group {
            outline:0;
            box-shadow: 0 0 2px 3px $outline, 0 0 2px $outline inset; border-radius: 2px;
          }
        }
        .accordion-toggle {
          color: $accordion-toggle;
        }
        .item-group {
          padding: 16px 8px 8px 8px;
          margin: 2px;
          .row.instruction {
            border-top: solid 1px $border-color;
            padding: 8px 0 8px 0;
            span {
              text-decoration: underline;
              color: $link-color;
            }
          }
          .group-toggle-indicator {
            float: right;
            padding-left: 20px;
          }
          .group-title {
            padding: 0 0 16px 0;
            .group-title-text {
              font-size: 1em;
              padding-right: 8px;
              white-space: normal;
              float: left;
            }
          }
          .group-title-icon {
            padding-right: 0;
            padding-left: 16px;
            .group-info {
              //float: right;
            }
          }
          .badge {
            //float: right;
            margin-left: 25px;
            border: 1px solid #222222;
            background-color: #555555;

            &.pending {
              border: 1px solid #B0ABD0;
              background-color: #DAD5FF;
            }
            &.reject {
              border: 1px solid #4EC76A;
              background-color: #C9F0C7;
            }
            &.approve {
              border: 1px solid #F57E7E;
              background-color: #FFDCDC;
            }
          }

          .group-instructions {
            text-decoration: underline;
            color: $link-color;
          }

          .group-progress {
            padding: 0;
            .progress {
              border-radius: 0;
              border: solid 2px $border-color;
              background-color: white;

              .progress-bar {
                border-radius: 0;
                background-color: $progressbar-color;
                box-shadow: none;

                span {
                  color: $progressbar-text;
                  text-align: right;
                  position: absolute;
                  left: 0;
                  right: 1.5em;
                  width: auto;
                  white-space: nowrap;
                }


              }

              &.normal {
                .progress-bar {
                  span {
                    color: white;
                  }
                }
              }
            }


          }
          .progresssuccessfull .progress-bar{background-color:green !important;}
          .progresssuccessfull .progress-bar span{color:#fff !important;}

        }
      }
    }
    .list-body-container {
      .list-body {
        border: 1px solid $cell-text;
        padding: 0 0 8px 0;

        .list-item {
          padding: 16px 8px 0 8px;
          //border-bottom: 1px solid $border-color;
         /* &:hover {
            cursor: pointer;
            background-color: lighten($banner-color, 50%);
          }*/
          &:focus {
            background-color: #F3FCFF;
          }

          .aipReadmore {
            word-break: normal;
            //hyphenate-character: auto;
            //hyphens: auto;
            //-moz-hyphens: auto;
            //-ms-hyphens: auto;
            //-webkit-hyphens: auto;
            //mso-hyphenate: auto;
          }
          .title {
            padding-left: 10px;
            float: left;
            width:70%;
            h3,h4 {
              font-weight: bold;
              font-size: 1.5em;
              word-wrap: break-word;
              margin: 0;
              /*line-height: 1.8em;*/
              color: $link-color;
              display: inline;
              /*border-bottom: solid 1px #206E9f;*/
              text-decoration: underline;
              font-family:"OpenSans-regular";
              padding-bottom: 3px;
              padding-right: 10px;
              padding-left: 0;
            }
          }

          .status {
            padding: 0 5px 0 0;
            span:first-letter {
              text-transform: uppercase;
            }
          }
          .badge {
            border-radius: 4px;
            color: $badge-text;
            margin-right: 10px;
            float: right;
            white-space: normal;
            word-wrap: break-word;
            line-height: 1.2em;
            max-width: 120px;           
            &.pending {
              border: 1px solid #B0ABD0;
              background-color: #DAD5FF;
            }
            &.reject {
              border: 1px solid #F57E7E;
              background-color: #FFDCDC;
            }
            &.approve {
              border: 1px solid #4EC76A;
              background-color: #C9F0C7;
            }
          }
          .actionItemParams {
            font-family: "OpenSans-regular";
            font-size: 12px;
            border-bottom: none;
            padding: 2px 8px 0px 8px;
            clear:both;
            span.data-label {
              font-family: "OpenSans-bold";
              display: inline-block;
              padding: 2px;
            }
          }
          .haltProcessList{
            h4{
              //font-weight: bold;
              font-size: 14px;
              word-wrap: break-word;
              margin-top: 3px;
              /*line-height: 1.8em;*/
              color: $link-color;
              display: inline;
              /*border-bottom: solid 1px #206E9f;*/
              font-family:"OpenSans-semibold";
              padding-bottom: 3px;
              padding-right: 10px;
              padding-left: 10px;
            }
            li{
              list-style: none;
              padding-left: 2px;
            }
            ul{
              padding: 0;
              margin: 0;
            }

          }

          .description {
            font-size: 1.3em;
            border-bottom: 1px solid $cell-text;
            padding: 10px 10px 15px 10px;
            clear:both;
          }
        }
      }
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      .list-body {
        .list-item {
          .title {
            width:60% !important;
          }
          .badge{
            max-width: 80px !important;
            margin-right:5px !important;
          }
          .enddate{
            margin-right:5px !important;
          }
          .description {
            padding-right:5px !important;
          }
        }
      }
      //CSS

    }
    //small size (tablet)
    @media screen and (max-width: 768px) {

        .list-item {
          .title {
            width: 60% !important;
          }
          .badge{
            max-width: 80px !important;
            margin-right:5px !important;
          }
          .enddate{
            margin-right:5px !important;
          }
          .description {
            padding-right:5px !important;
          }
      }
    }
    @media (min-width:360px) and (max-width: 640px){
      .list-body{
        .list-item{
          .badge{
            max-width: 80px !important;
            margin-right:5px !important;
          }
          .enddate{
            margin-right:5px !important;
          }
          .description {
            padding-right:5px !important;
          }
      }
    }
    //extra small size (phone)
    @media screen and (max-width: 480px) {
      .list-body {
        .list-item{
          .badge{
            max-width: 80px !important;
            margin-right:5px !important;
          }
          .enddate{
            margin-right:5px !important;
          }
          .description {
            padding-top: 8px !important;
            padding-right:5px !important;
          }
        }
      }
    }
    .item-group{
      .badge{
        margin-left:10px;
      }
      .group-toggle-indicator{
        padding-left:10px;
      }
    }
    }
  }
  .enddate{text-align: right;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 11px;
    margin-right: 10px;
  }
}
